[2017-06-26 16:04] jmelberg-okta opened #5 "Add support for Carthage"
SDK should be available from the Carthage dependency manager.

[2017-06-26 16:06] jmelberg-okta opened #6 "Add token persistance via Keychain"
SDK should be able to store tokens securely via the iOS Keychain (w/ or w/o iCloud)

[2017-06-26 16:40] jmelberg-okta opened #7 "Add support for Logout"
Pending the release of OKTA-94106 terminate the user's session with Okta.

[2017-06-28 17:02] jmelberg-okta opened #8 "Check username/password is unwrapped for password grant"
We should make sure we are not passing optionals here:
[OktaLogin.swift#L53-L56](https://github.com/okta/okta-sdk-appauth-ios/blob/master/Okta/OktaLogin.swift#L53-L56)

[2017-06-30 20:10] #8 closed, assigned to nobody

[2017-06-30 20:10] #6 closed, assigned to nobody

[2017-08-23 13:09] babadofar opened #13 "PKCE not implemented?"
Trying to login using code-supplied username + password, but it only works if I add the client_id and client_secret. Is PKCE implemented at all?

[2017-08-25 15:51] omgitstom commented on #13
PKCE is implemented for authorization code flow, if you are using resource owner password grant it will not use PKCE.

[2017-08-25 15:51] omgitstom opened #14 "Fix naming of the Pod"
Pod name should be:
okta-sdk-appauth-ios

instead of OktaAuth

[2017-08-25 16:20] #13 closed

[2017-08-25 16:22] babadofar commented on #13
I imagined there was a way to have users enter credentials in a native dialog,that is: without opening Okta login screen in a browser, but apparently not.

[2017-08-25 17:06] omgitstom commented on #13
That is definitely possible but isn't as secure as Authorization Code with PKCE.

[code]

This will require that you put the client secret in a plist, so you can not trust that the secret is secure going live with this model.  We do understand that there is a need to create a native experience, and not everyone will fit into the AppAuth / Safari Web View Controller model.

Out of curiousity, if Ok

[2017-08-25 20:13] babadofar commented on #13
Yes, you're right, it would definitely help if it was possible to customize the URL and webpage :)

The API documentation may seem to indicate that it is possible to get a session token from the Authentication API and continue the Authorization Code Flow from there. But it does not work for me .
https://developer.okta.com/docs/api/resources/oauth2.html#obtain-an-authorization-grant-from-a-user

[2017-08-30 07:24] babadofar opened #15 "How to set authorization server"
I get errors validating tokens due to authentication does not happen against the authorization server for my app.
How can I set authorization server?
Any chance this is fixed in pull request https://github.com/okta/okta-sdk-appauth-ios/pull/12 ?

[2017-08-31 02:44] jmelberg-okta commented on #15
Hi @babadofar,

Just to verify, is the `issuer` in your `Okta.plist` configuration mapped to your authorization server?
For example, the issuer should be a value similar to:
[code]

Also -- can you include the error response?

[2017-08-31 16:06] Touchcore opened #16 "Unable to find a specification for `OktaAuth`"
After adding pod 'OktaAuth' to my podfile and running pod install, I get the following error message:
Unable to find a specification for `OktaAuth`
![oktaauth pod error](https://user-images.githubusercontent.com/11425045/29933170-b714724c-8e44-11e7-9121-9953892940cd.png)

[2017-08-31 16:36] jmelberg-okta commented on #16
Hi @Touchcore,

The pod is available on [Cocoapods registry](http://cocoapods.org/pods/OktaAuth), so make you've updated Cocoapods recently:
[code]

[2017-09-27 19:14] #16 closed

[2017-09-27 19:19] Touchcore opened #17 "Mac support"
How can I get the Okta SDK to work on mac? The current pod 'OktaAuth' is not compatible with OS X.

"(OS X 10.10) is not compatible with `OktaAuth (0.1.0)`, which does not support `osx`."

[2017-09-28 20:29] Touchcore commented on #17
Thanks. I will check that out.

[2017-10-03 16:14] #17 closed

[2017-11-27 17:50] jmelberg-okta opened #21 "Easier management of authentication state"
Currently the `OktaKeychain` methods are not available due to being `internal` functions. At the very least, the `get` method should be public.

This creates the ability to:
1. Check for `accessToken`, `idToken`, or `authState` on app boot
2. Create a new `OktaTokenManager` object based on the stored `authState` (since it is currently only created on successful authorization)

In short, you should

[2017-12-07 11:05] luksfarris commented on #7
Hi @jmelberg-okta, do you have any plans to add this feature?
I'd love to contribute with a pull request. I assume the effort here is fetching the logout URL from the openid config, and calling ` - (BOOL)presentAuthorizationWithURL:LOGOUT_URL session:nil` from AppAuth

[2017-12-14 01:58] skeer00 opened #23 "Set clientSecret for okta-sdk programatically"
We are integrating Okta into our mobile applications. We are following resource owner password flow and okta sdk (https://github.com/okta/okta-sdk-appauth-ios).

In the documentation (readme) it says that If using the Resource Owner Password Grant, you must specify the clientSecret in Okta.plist. But it also mention that IMPORTANT: It is strongly discouraged to store a clientSecret on a distribute

[2017-12-14 20:18] jmelberg-okta commented on #23
@skeer00: Currently there is no way to programmatically `set` or `update` the `clientSecret`.

Instead, you can start the **login** flow using a different `plist` file containing different **client credentials**:

[code]

Care to elaborate on your use case? As noted, this flow is only for [trusted clients](https://tools.ietf.org/html/rfc6749#section-2.1). Native applications are public clients and

[2017-12-14 20:19] jmelberg-okta commented on #15
@babadofar If this is still an issue, please feel free to reopen.

[2017-12-14 20:19] #15 closed

[2017-12-14 20:37] skeer00 commented on #23
So you mean the native applications cannot keep clientSecret in the plist file too?

[2017-12-14 22:55] jmelberg-okta commented on #23
My comment was directed more toward asking - Why are you using the client credentials (resource owner password credentials flow) as opposed to the authorization code flow grant? I'd strongly suggest reading [OAuth 2.0 for Native Apps](https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12) if you haven't already done so.

This library currently supports both flows and requires client configur

[2017-12-15 01:06] Mair opened #24 "Crashes UI tests"
I set everything up as per the readme file and it works as expected. However, when trying to run SWIFT UI tests, as soon as you click on the login or password field, XCODE crashes

[2017-12-15 01:27] jmelberg-okta commented on #24
Hey @Mair! Since the UI tests run against a real Okta org, you'll need to supply user credentials for the test to pass.

First, update the variables [here](https://github.com/okta/okta-sdk-appauth-ios/blob/jm-bug-fixes/Example/Okta_UITests/Okta_UITests.swift#L19-L20) with credentials of a user that belongs to that org. Next, make sure those are copied over [here](https://github.com/okta/okta-sdk-a

[2017-12-15 22:16] skeer00 commented on #23
Thank you @jmaldonado-okta.

One more question, the "authorization code flow grant" is Proof Key for Code Exchange (PKCE) flow?

[2017-12-15 22:52] jmelberg-okta commented on #23
@skeer00 The Proof Key for Code Exchange (PKCE) is a protocol building **on top** of the OAuth 2.0 Authorization Code Flow Grant. It was implemented as a technique to mitigate `code` interception attacks. The flow is essentially the same for the end-user, but requires a cryptographically random key called a `code verifier`. See the diagram below from the [PKCE](https://tools.ietf.org/html/rfc7636#

[2017-12-19 23:16] skeer00 commented on #23
Thanks for your answer. We are following Resource Owner Password and using SDK (.login().start(view: ...) to get the accesstoken and refresh token. So when the access token is expired how can we get a new access token? Is there any SDK methods for that purpose? I saw one method OktaAuth.refresh(), but I could not find any examples for that. Could you please help me on this?

[2017-12-19 23:25] jmelberg-okta commented on #23
@skeer00,

As noted in the [`README`](https://github.com/okta/okta-sdk-appauth-ios#refresh-a-token), you can simply call `OktaAuth.refresh()` to get a new `accessToken`:
[code]

[2017-12-19 23:25] #23 closed

[2017-12-19 23:27] jmelberg-okta commented on #7
Hey @luksfarris! I'd love to be able to get this in before our `1.0` release in the next few months. If you'd like to help out, please shoot over a PR! I'd be happy to incorporate it.

[2017-12-20 00:46] wdawson commented on #23
@skeer00 just to reiterate and make sure it's clear, the resource-owner password flow (with client secret) is less secure than the authorization code flow with PKCE. Is there a reason you're using resource-owner password?

[2017-12-20 01:48] skeer00 commented on #23
@jmelberg-okta This for providing more native experience.

[2018-01-05 08:44] gloryluu opened #29 "Invalid_client even right credential & client id?"
`OktaAuth .login()`

I'm really confuse. I'm sure what I input is right and client id is valid
Later, I tried by harding the email and password phrases, I can login successfully.
`OktaAuth.login(m_email, password: mPassword)`

I dont know why I cannot login by webview.
Anyone can help me?

[2018-01-05 19:45] jmelberg-okta commented on #29
Hi @gloryluu,

This is expected behavior. When using the `username` and `password` flow, you need to include it when calling `OktaAuth.login()`. For example:

[code]

The default `OktaAuth.login()` method is for the [Authorization Code Flow](https://tools.ietf.org/html/rfc6749#section-4.1), where the user will input their credentials via the browser.

[2018-01-05 19:45] #29 closed

[2018-01-11 18:59] luksfarris commented on #7
Hi @jmelberg-okta , turns out it's harder than I expected 😅. I've created PR https://github.com/openid/AppAuth-iOS/pull/191 for AppAuth, once it's merged I'll be able contribute here as well!

[2018-01-25 16:58] luksfarris commented on #7
Hi @jmelberg-okta , the pull request I've created for AppAuth is moving forward, but more work will be needed in the future. Meanwhile, I've created a pull request for you that does the logout on our side, here it is #30 . I don't expect you to merge it soon, but at least this is something for us to start working with. It works for my okta setup

[2018-01-31 22:52] jmelberg-okta opened #31 "Ensure persistent cookie is used with SFAuthenticationSession"
**Note**: Please contact developers@okta.com for this feature.

[2018-02-05 17:14] omgitstom opened #32 "Add `idp=` parameter support for AppAuth"
As a developer, I want to trigger Okta to log in the user with Google using the `idp` parameter with app auth, so my user doesn't need to view a page to just click on another button

[2018-02-05 17:18] jmelberg-okta commented on #32
More generally, we should allow customization of `additionalParams` when building the `/authorize` request.

[2018-02-13 04:47] gloryluu opened #42 "Block implicitly retains 'self'; explicitly mention 'self' to indicate this is intended behavior"
Warning on Xcode 9.2

[2018-02-13 17:55] omgitstom opened #43 "Add documentation on how to use this library in Objective-C"
https://devforum.okta.com/t/otka-integration-with-existing-objectivec-ios-app/1223

[2018-02-17 01:00] #24 closed

[2018-03-01 23:24] jmelberg-okta commented on #42
Thanks for reporting this issue @gloryluu! This is getting fixed with #28.

I'm going to include this in the `1.0.0` milestone and keep this open until that gets merged in.

[2018-03-30 18:24] jmelberg-okta commented on #32
This has been resolved in the [newest release](https://github.com/okta/okta-sdk-appauth-ios/releases/tag/1.0.0).

[2018-03-30 18:24] #32 closed

[2018-03-30 18:24] jmelberg-okta commented on #21
This has been resolved in the [newest release](https://github.com/okta/okta-sdk-appauth-ios/releases/tag/1.0.0).

[2018-03-30 18:24] #21 closed

[2018-03-30 18:27] jmelberg-okta commented on #14
Its uncommon for Swift libraries to follow that naming convention. I'm going to close this for now until there are other Okta supported iOS libraries that fit `OktaAuth` better.

[2018-03-30 18:27] #14 closed

[2018-04-02 04:08] gloryluu commented on #42
I have upgraded and it seems the warning still exists in the dependency AppAuth. Could you update the OktaPodSpec as well?

[2018-05-15 22:33] WillChilcutt opened #61 "SFAuthenticationSession popup"
Hello,

On iOS 11+ There is a popup that says "<Your App> Wants to Use '<Login provider URL>' to Sign in".

This is in relation to **SFAuthenticationSession** which has the following footnote at https://developer.apple.com/documentation/safariservices/sfauthenticationsession

Is there any workaround we could have to get around having this **UIAlertView** pop up that is very breaking in user experi

[2018-05-16 03:35] jmelberg-okta commented on #61
Hey @WillChilcutt,

I've been following our underlying library AppAuth's implementation of this [here](https://github.com/openid/AppAuth-iOS/issues/200), where the change has already been merged into `master`. Although, this has yet to be released in a new version and pulled into this lib.

This isn't a change we're likely to extend into our wrapper library, as developers will lose SSO support. If

[2018-05-16 03:36] #31 closed

[2018-05-16 16:26] WillChilcutt commented on #61
Hi @jmelberg-okta. Thanks for the quick response, suggestions and insight into the issue. I'll mark this as closed as the framework won't likely be changing it.

Thanks,

Will

[2018-05-16 16:26] #61 closed

[2018-06-01 18:07] jmelberg-okta opened #63 "Token refreshing crashes after token expires"
Copied from the [devForum](https://devforum.okta.com/t/ios-swift-sdk-crashing/1890):

When calling isAuthenticated method, it is crashing at
[code]

It seems to crash when access token is expired because whenever I call the method after fresh install, get access token, it works well. However after an hour (that’s when our token expires), it crashes. Only way to get around is to reinstall the app w

[2018-06-06 18:29] ericraymond commented on #7
Hi @luksfarris,

I extracted logoutFlow from your commit and modified it to call it directly from my app (not part of the SDK).

I don't see any change in the logout behavior, the session still seems to be cached and the next login completes without any user interaction.

Any ideas on what I'm missing?

Thanks!

[2018-06-20 16:13] WillChilcutt opened #64 "Cannot stay logged in after token expires"
Hello,

I'm finding problems related to expired tokens.

Let's say I grab a token at 10am. That token expires at 11am (1 hour later) but I can use the refresh token to grab a new access token.

Example situations I've run into:

1. I kill my app at 10:15am and launch it again at 10:30am. In the `OktaAuth.isAuthenticated()` it properly loads the previously created access token as expected and the a

[2018-06-20 16:29] jplourde13 commented on #64
This also happens to me when using the Android version of this sdk:

https://github.com/okta/okta-sdk-appauth-android

[2018-06-21 19:46] samleegray commented on #64
I'm getting the same issue on iOS.

[2018-06-25 16:36] jmelberg-okta commented on #64
Thanks for the report @WillChilcutt, @jplourde13, and @samleegray!

This issue seems closely related to #63, where we're seeing consistent issues around unarchiving the object from a saved state.

I'm going to prioritize this issue with our team so it gets addressed quickly.

- Jordan

[2018-06-27 21:18] robertjd opened #66 "Use User-Agent header"
Right now we send "X-Okta-User-Agent-Extended", but we should use "User-Agent" to be consistent with other libraries have have the ability to use this header.

[2018-06-28 16:46] WillChilcutt commented on #64
@jmelberg-okta Is there any ETA on when this fix will be implemented? We are blocked right now as users cannot stay logged in for more than an hour.

[2018-07-02 21:52] roger-at-nike commented on #64
Could we get an update on this issue? It's impacting us here at Nike as well.

[2018-07-03 14:53] jdberry commented on #64
What's the status on this issue? This is killing us. It's incredible to me that this has seemingly gotten no attention.

[2018-07-05 16:48] jmelberg-okta commented on #64
Hi all,

Apologies again for the issues this is causing. We're looking into the root cause of this issue **this week**. Once our analysis is complete, we'll update this issue with a status report.

[2018-07-09 05:21] jmelberg-okta commented on #64
Thanks again for your ongoing patience. I was able to identify the root cause of this issue, and plan to release a new version with this fix as soon as I can.

I'm moving tagging this issue as "In Progress" - and will update this issue as work is completed.

[2018-07-09 22:08] jdberry commented on #64
@jmaldonado-okta: Are you able to give any summary on the scope of the change and what your ETA is for fixing it? We have a deadline coming up very soon for which we need this fix, and have to evaluate whether to come up with our own solution.

[2018-07-10 17:42] jameswfang opened #67 "In Swift 3, unwrapping redirectUri causes crash"
[code]

[code]

Change to:
`redirectURL: URL(string: redirectUri.addingPercentEncoding(withAllowedCharacters: NSCharacterSet.urlQueryAllowed)!)!,`

[2018-07-11 21:13] jmelberg-okta commented on #64
@jdberry - The fix is pretty straightforward, and you can see the changes in #68.

I was able to validate the changes given @WillChilcutt's reproduction steps above, however I'd still like to spend more time writing tests to cover more flows before this hits `master`.

If you'd like, please pull down the changes and test locally. If anything doesn't act as you'd expect it to, please feel free to t

[2018-07-11 21:15] jmelberg-okta commented on #67
Hey @jameswfang - Did you encounter this issue because you weren't providing a `redirectUri` in your plist? Our README is pretty explicit that this is a required value, but I'm curious how you encountered this.

[2018-07-11 21:16] jmelberg-okta commented on #63
Closing as a duplicate (see #64)

[2018-07-11 21:16] #63 closed

[2018-07-11 21:48] jdberry commented on #64
@jmaldonado-okta : that seems to change the behavior a bit, but it still doesn't seem to be working correctly.

We get into this state, for instance, if the app restarts after the access token has timed out. What we do then is the following:

On startup:

 1.  If the OktaAuth.isAuthenticated(), then (we're good)
 2. Otherwise, try to OktaAuth.refresh() before doing anything else (i.e., before fall

[2018-07-11 22:15] jdberry commented on #64
@jmaldonado-okta : I made a change that seems (on very, very quick inspection) to have fixed the issue I describe above.

I altered the code of OktaRefresh.swift to call storeAuthState(tokens!) just before the final resolve(token) call. I don't know if that's the best fix, but it seems to solve the issue I'm seeing (after applying your patch).

[code]

[2018-07-11 22:36] jdberry commented on #64
Incidentally, there's another fix we also had to make. We call Okta using CocoaPods, and it's linked as a framework. Due to this, there's inconsistency in how OktaTokenManager is named, and due to swift's addition of the module name to the class name, the OktaTokenManager cannot sometimes be successfully unarchived from the keychain.

We fixed this problem by doing the following at our app init ti

[2018-07-12 17:56] jameswfang commented on #67
@jmelberg-okta I did set the redirectUri to com.oktapreview.{Okta org}:/callback as recommended in the Readme.md.

Here is a screenshot of the stack trace:
![image](https://user-images.githubusercontent.com/24444212/42650807-40a579fa-85c2-11e8-828a-a9fa3bdc8ebc.png)

[2018-07-13 02:05] jmelberg-okta commented on #67
Hey @jameswfang,

It looks like you have a malformed character in your `redirectUri` value: `\t`. That should explain why unwrapping the value is throwing an error.

This does bring up a valid concern on unwrapping vars - something we're going to be looking at in a future release. Ideally we should validate all values are stripped for whitespace before they're attempted for use.

Can you try remov

[2018-07-13 06:16] jameswfang commented on #67
@jmelberg-okta That was it, thanks!

[2018-07-13 06:16] #67 closed

[2018-07-16 19:43] WillChilcutt commented on #64
Pulled in both @jmelberg-okta and @jdberry 's changes, which ended up working for us! Thanks!

[2018-07-16 20:21] roger-at-nike commented on #64
A mix of the two worked for us as well. Thanks guys! 🙇

[2018-08-06 18:12] sergio83 opened #69 "iat validation without leeway is wrong"
The **OktaJWTVerifier.isIssuedInFuture** return true if the iat is valid.

On **OktaJWT.swift:** is returning error when the iat is valid
**Current code:**
`
if OktaJWTVerifier.isIssuedInFuture(jwt.payload.issuedAt, leeway: self.validatorOptions["leeway"] as? Int) {
                throw OktaJWTVerificationError.IssuedInFuture
            }
`

**Fixed Code:**
`
if **!**OktaJWTVerifier.isIssuedInFu

[2018-08-06 18:25] sergio83 opened #70 "The client secret is not send"
On the class **OktaAuth.swift**, method **authCodeFlow**,  when create the OIDAuthorizationRequest is not added the clientSecret.

To fix it, you have to get it:
let clientSecret = config["clientSecret"]

and then:
OIDAuthorizationRequest(configuration: oidConfig,
                                clientId: clientId,
                                **clientSecret: clientSecret,**

[2018-08-13 17:47] andrewgotow commented on #7
Any progress on this?

I'm working on an enterprise application where users check out and share company devices, and official support for a log-out flow would be wonderful!

[2018-08-14 22:26] jmelberg-okta commented on #70
Hey @sergio83 - This is the intended behavior.

When using the Authorization Code flow, we're utilizing [PKCE](https://tools.ietf.org/html/rfc7636) for client authentication, not the client secret. This is the suggested method for implementing OAuth 2.0 for native applications.

If you're looking to use the Resource Owner Password Flow, which will require the `clientId` and `clientSecret` to be pr

[2018-08-14 22:26] #70 closed

[2018-08-27 16:12] omgitstom commented on #7
Thanks for your patience folks.

We are waiting on AppAuth (the underlying library that we use) to add this functionality:
https://github.com/openid/AppAuth-iOS/pull/259

Once this is merged and released, we will be in the position to update the Okta library.

[2018-09-05 08:37] jinliyuelong opened #71 "how to use the okta in oc project"
how to use the okta in oc project

[2018-09-05 08:46] jinliyuelong commented on #43
have you solved the problem ?

[2018-09-05 21:51] nbarbettini opened #72 "Consistent placeholders and labels"
Sweep through readme and code to make sure labels and placeholders follow the pattern here: https://oktawiki.atlassian.net/wiki/spaces/UX/pages/470681125/Developer+Experience+-+Okta+Domain+Labels

- [ ] `https://{yourOktaDomain}` (not `https://{yourOktaDomain}.com`)
- [ ] `{clientId}`
- [ ] `{clientSecret}`
- [ ] `{scheme}`

[2018-09-06 16:31] wdawson commented on #72
@nbarbettini do we have a public version of that doc anywhere in something like a CONTRIBUTING.md?

[2018-09-06 16:45] nbarbettini commented on #72
Not yet, but long term we plan on publishing it.

On Thu, Sep 6, 2018, 09:31 Wils Dawson <notifications@github.com> wrote:

[2018-10-02 17:25] gloryluu opened #73 "Swift 4.2 support"
Please update to support Swift 4.2.

[2018-10-09 10:10] bynelus commented on #64
Also pulled in both changes, but still won't work. When I login at start it, it succeeds. But when I close the app and remove it from background, it seems the the tokens are not stored resulting in a login every time the app starts.

Is there anyone who can help out to fix this?

[2018-10-15 18:13] gabehoffman commented on #73
It's been out for about a month now, and it's a very minor update. Any ETA on when we could expect support for the latest Swift?

[2018-10-19 20:30] nbarbettini commented on #71
Closing as a duplicate of: https://github.com/okta/okta-sdk-appauth-ios/issues/43

We will close #43 when we've added this documentation.

[2018-10-19 20:30] #71 closed

[2018-10-19 22:48] jmelberg-okta commented on #64
Hi all,

I want to apologize again for the unacceptably long delay for not getting this resolved sooner. Our team is working on getting a dedicated engineer to maintain this library - something this repository has never had.

This [bug](#68) has now been merged into `master` is is available on Cocoapods as version `1.0.1`.

[2018-10-19 22:48] #64 closed

[2018-10-19 23:07] jmelberg-okta commented on #69
Hi @sergio83 -

Apologies if I'm not understanding this issue, but looking at the [`OktaJWT` source](https://github.com/okta/okta-ios-jwt/blob/d8a5704faaf0b13d3dd21d8befd1a6829e7f252f/OktaJWT/JWTVerifier.swift#L109-L125) you're referring to, we're evaluating this correctly:

1. If no `leeway` is provided, we compare the current time with the token time:
[code]
2. If `leeway` is provided, add that

[2018-10-19 23:07] #69 closed

[2018-10-22 17:53] WillChilcutt commented on #64
@jmelberg-okta Is there anything we need to do different on our side as users of this framework with the new `1.0.1` version?

[2018-10-22 19:59] jmelberg-okta commented on #64
Hey @WillChilcutt - No changes should be required on your end.

This library was neglecting to re-save the authentication state when refreshing tokens, so if you had any workaround logic for this, it should no longer be required. Therefore, you should be safe to upgrade :)

[2018-10-24 23:00] nbarbettini opened #75 "Force login"
When AppAuth supports logout, we'll support it in this library (#7). In the mean time, it would be useful to have the option to forcibly ignore whether the user already has a session on the server (adding the `prompt=login` parameter on the `/authorize` request).

We should add a boolean `forceLogin` parameter to the `login()` method.

[2018-11-22 00:04] nbarbettini opened #76 "Split up library and demo, replace with test harness"
Currently, this repo contains both the SDK and a demo app. This gets a little confusing because it's hard to tell how they are separated. We are publishing https://github.com/okta/samples-ios soon, which will be a clear home for all samples going forward.

We should:
- [ ] Determine what a good test harness looks like in this repo
- [ ] Remove everything else sample-related

Please collaborate wit

[2018-11-27 01:06] nbarbettini opened #77 "Update to latest AppAuth package"

[2018-11-27 01:08] nbarbettini opened #78 "Build demo of native login"
Some customers can't use the AppAuth pattern (opening a browser and handling a callback to the app) because they want to have complete control over the UI/UX of the login experience. In other words, they want to have a totally native, in-app UI for login. The SDK will need a number of improvements to support this.

Before building the full solution, we should build a demo to validate that the prop

[2018-11-27 15:37] #66 closed

[2018-12-03 11:56] govindprasadgupta opened #79 "Support for additional parameters in token exchange request"
File: OIDAuthState.h
 Method: OIDTokenRequest *tokenExchangeRequest =
                                   [authorizationResponse tokenExchangeRequest];

Kindly provide support for additionalParameters. Everywhere value is passed as nil.

[2018-12-04 16:59] nbarbettini opened #81 "Swift client for Authentication API"
We need to build an SDK for Swift that communicates with our Authentication API (https://developer.okta.com/docs/api/resources/authn). This will be in a new repo (https://github.com/okta/okta-auth-swift).

Here is an example of an existing authentication SDK: https://github.com/okta/okta-auth-java

The product and technical requirements for these SDKs is here:
https://oktawiki.atlassian.net/wiki/s

[2018-12-04 17:04] nbarbettini opened #82 "Native sign-in method"
The SDK should provide a method to easily do the flow described in #78.

First, a Swift client for the [Authentication API]() needs to be created. This work will be done in [okta-auth-swift](https://github.com/okta/okta-auth-swift) (see #81).

Then, this library must expose a method to start a sign-in request and pass the username/password directly. We will deprecate the existing `login(username:

[2018-12-06 00:55] nbarbettini opened #83 "Build demo of native sign-in with AppAuth SDK and Swift AuthN SDK"
After #82 and #81 are done, we need to build a sample app (like #78) that performs native sign-in using the new functionality we added to our libraries.

[2018-12-06 01:02] nbarbettini opened #84 "Remove Resource Owner Password flow support"
Remove the `OktaAuth.login(username: string, password: string)` method and any samples/documentation relating to configuring a `clientId`. #82 is the replacement.

[2018-12-06 01:02] nbarbettini opened #85 "Deprecate Resource Owner Password flow"
Mark the `OktaAuth.login(username: string, password: string)` as obsolete/deprecated and remove documentation after adding #82. It will be removed fully in #84.

[2018-12-06 14:57] #78 closed

[2018-12-06 14:58] olexiylebedyev-okta commented on #78
Demo app published here: https://github.com/allebedew/okta-login-ios

[2018-12-07 03:45] nbarbettini commented on #79
@govindprasadgupta What are the additional parameters you need to send?

[2018-12-07 13:31] allebedew opened #86 "Remove HydraAsync dependency"
Remove HydraAsync code

[2018-12-13 01:31] nbarbettini opened #88 "Rename login method"
We are moving our documentation towards "sign in" instead of "login". We should rename the `.login()` method in this library to match.

Additionally, since we are adding a non-browser way to sign in (in #82), we should differentiate these methods.

I think the `login()` method should be renamed to `signinWithBrowser()`. What do you think @jmelberg-okta @ayurok?

[2018-12-13 01:38] nbarbettini opened #89 "Sign out method"
With #87, we are adding the ability to sign out of Okta (end the Okta session). We also need to add and document a method for signing out of the app (destroying the user's tokens). This method should:

1. Throw away tokens stored in the Keychain (i.e. `clearAuthState()`)
2. Revoke access and refresh tokens

We should give developers the ability to skip (2) if they do not want to incur a network re

[2018-12-13 01:51] nbarbettini opened #90 "Pass additional parameters to browser sign-in"
Some developers need to pass additional parameters to the `/authorize` route (browser sign-in), such as:

* A login hint (the `login_hint` parameter, string)
* A `state` value (string)
* Any string name/value pair

Unlike values like `issuer` and `scopes`, these parameters will not be stored in `Okta.plist`. We should make it possible to pass parameters to the browser sign-in method.

[2018-12-13 01:52] nbarbettini commented on #75
Will be covered by #90

[2018-12-13 01:52] #75 closed

[2018-12-13 16:52] nbarbettini commented on #79
We are adding support for sending additional parameters to the [/authorize endpoint](https://developer.okta.com/docs/api/resources/oidc#authorize) in #90. If you also need to pass additional params to the /token endpoint, please reopen this issue and let us know!

[2018-12-13 16:52] #79 closed

[2018-12-14 04:27] nbarbettini opened #91 "Don't throw when retrieving expired tokens"
The `/logout` endpoint can be passed tokens that are **expired**, and if we continue to throw an error when the token expires, it becomes impossible to terminate the Okta session.

I propose we return expired tokens (remove this conditional and the check [here](https://github.com/okta/okta-sdk-appauth-ios/blob/cf09b2e25c581dad8f64824213a4efbb4d98033b/Okta/OktaTokenManager.swift#L27)), but add the

[2018-12-14 10:58] allebedew opened #92 "Write tests for OktaKeychain.swift"
Write tests for OktaKeychain.swift

[2018-12-18 03:20] nbarbettini opened #95 "Create samples repo"
I've created this repo as a place for official iOS samples: https://github.com/okta/samples-ios

It will be modeled similar to: https://github.com/okta/samples-js-angular

- [ ] Create readme
- [ ] Create folder `browser-signin`
- [ ] Create folder `native-signin` (this will contain #83)

[2018-12-18 23:03] nbarbettini opened #97 "Update documentation"
These things are not currently documented:

- [x] How to sign the user out of the app
- [x] How to end the Okta session (after #87) is merged
- [ ] An example of how to get the access token from the tokenManager and use it when making an HTTP call
- [x] How to pass additional parameters to the `/authorize` endpoint
And we need to confirm that these things are removed from documentation
- [x] Anyth

[2018-12-21 18:18] jmelberg-okta commented on #90
This is already supported via an undocumented `login` method. Will add this to the list of documentation updates in #97.

[2018-12-21 18:18] #90 closed

[2018-12-27 16:36] anastasiiaiurok-okta opened #105 "iOS 11 Crash: missing Authenticationservices"
Example app crashes on iOS 11:
Library not loaded: /System/Library/Frameworks/AuthenticationServices.framework/AuthenticationServices

[2018-12-27 16:38] anastasiiaiurok-okta commented on #105
Fixed in https://github.com/okta/AppAuth-iOS/pull/3.

[2018-12-27 16:38] #105 closed

[2018-12-31 23:05] jmelberg-okta commented on #97
@nbarbettini - Similar to other libraries, we should point developers to the quickstart and/or code page on D.O.C for use-case driven code samples.

For this reason, the README updates in #106 are primarily outlining the public API for this library, as opposed to a formal "how-to" guide.

[2018-12-31 23:12] jmelberg-okta commented on #88
This library is specifically an OAuth 2.0/OIDC library, where the login sequence takes place **only** through an external browser. If we had different login paths, like before when there was no browser context, the name `*withBrowser` would make more sense.

For this reason, I think we should simply rename `login` to `signIn`.

[2018-12-31 23:12] jmelberg-okta commented on #84
Resolved with #94

[2018-12-31 23:12] #84 closed

[2019-01-05 00:56] nbarbettini commented on #91
Per discussion, closing this for now.

[2019-01-05 00:56] #91 closed

[2019-01-05 01:01] #97 closed

[2019-01-05 01:02] nbarbettini commented on #7
Closed via #103. We will be publishing a new version of this library soon with these changes, and the README has already been updated. If you need help with logout, let us know!

[2019-01-05 01:02] #7 closed

[2019-01-05 01:03] nbarbettini commented on #88
@jmelberg-okta We are adding non-browser sign-in back with https://github.com/okta/okta-sdk-appauth-ios/issues/82. The intention is that this library will evolve beyond only doing browser sign-in.

[2019-01-05 01:46] nbarbettini commented on #83
The sample app must contain this functionality:
* Present a view that collects the user's email and password and starts primary authentication.
* If the response from the Authentication API is an error (such as invalid credentials), display the error.
* If the response from the Authentication API is `SUCCESS`, the AppAuth SDK should store the tokens normally.
* If the response from the Authenticat

[2019-01-09 15:02] gabehoffman opened #108 "Login Does Nothing"
I was going upgrade to the the 1.0.1 pod for our app, and when I installed the updated pod and made the required code changes, login no longer functions. Nothing happens. Even when using the given code sample. Neither `print` statement ever fires.

[code]

Anyone else been able to get it working?

And `signOutFromOkta` that's listed in the Readme, isn't actually in the code yet either.

Here's my

[2019-01-09 15:35] gabehoffman commented on #108
I think the issue is in the parsing of the Okta.plist file. I was using my original file, and it was just failing silently. When I used the Okta.plist from the sample project and substituted my values, it worked. Perhaps the change in the way scopes was defined from being a list to a string?

[2019-01-09 16:14] gabehoffman opened #109 "Cocoapod version not the current master version"
I'm not sure what's happening with `signOutFromOkta, but it's clear there there are some versioning issues. When I updated to the latest pod and try to use the method `signOutFromOkta` as documented in the Readme file, it's not found. Then I looked at the example project and it uses a method named `signOutOfOkta`. When I look at it's pod files, while supposedly being the same version they quite di

[2019-01-09 16:21] gabehoffman commented on #109
One option to get the current master version is to force Cocoapods to look at this repo:
[code]

[2019-01-09 21:26] gabehoffman opened #110 "Login is hanging"
I just updated to 1.0.1 from 0.3.0, made the very minor code changes to accommodate the Hydra promise flow. Made the changes needed to the `Okta.plist`. Made the switch to point my pods to this repo, instead of the out of date Cocoapods version. And now "Sign In" is just hanging. I can put in the user name and password and then I get a permanent hang on this screen. At this point in the code, I do

[2019-01-10 17:39] robertjd opened #111 "Improve plist parsing errors"
See #108, we aren't giving developers good error information if the plist is invalid.

[2019-01-10 17:40] robertjd commented on #108
Hi @gabehoffman , thanks for the report.  It does seem like the type change on the scope property bit you.  We should improve this for you, I've created #111 to track.  Are we good if I close this original report?

[2019-01-10 22:41] nbarbettini commented on #109
That's the case. This was my fault, sorry - I jumped the gun in merging https://github.com/okta/okta-sdk-appauth-ios/pull/106. We haven't released [2.0.0](https://github.com/okta/okta-sdk-appauth-ios/milestone/4) yet, which includes the `signOutFromOkta` method and the other things you're seeing in the code (but not seeing in Cocoapods).

I'll be more careful of that in the future. We plan to rele

[2019-01-10 22:44] nbarbettini opened #112 "Bump major version to 2"
Reminder - since we made breaking API changes in https://github.com/okta/okta-sdk-appauth-ios/pull/93, we need to bump the major version of this library before releasing the next version.

[2019-01-15 10:31] anastasiiaiurok-okta commented on #110
Hi @gabehoffman , thanks for the report.
It looks like redirect from the browser to your app does not work. Could you please check whether Info.plist file contains URL scheme that corresponds to redirect URI used for sign in. Also, app should handle redirect in AppDelegate by passing redirect URL to Okta. All the deals are specified in "Handle the redirect" of REAME. Please let us know whether thi

[2019-01-16 08:23] maheshm255 opened #115 "signOutOfOkta function is not part of OktaAuth (1.0.1)"
I am doing Pod Install using "    pod "OktaAuth" which is  installing OktaAuth (1.0.1) which does not contains "signOutOfOkta" function , could you pls let me know how to get this signOutOfOkta(Logout)functionality .

[2019-01-16 18:45] nbarbettini commented on #115
Hey @maheshm255, we are getting ready to publish the new version to Cocoapods. I merged the readme too soon (should have waited until after publishing). Sorry about that! I will leave this issue open until we publish it for real.

[2019-01-17 09:16] #111 closed

[2019-01-17 12:31] maheshm255 commented on #115
@nbarbettini , Thanks for update, Just checking when you are planning to release 2.0.0 , we have release planned next week and client is asking for signout functionality so it would be great if we can have this functionality ASAP, Also is there any way to invalidate okta session in 1.0.1 version, I have put "prompt = login" in plist to forcefully show okta login page , but it populate below screen

[2019-01-18 23:53] IldarAbdullin-okta commented on #112
Resolved by: https://github.com/okta/okta-sdk-appauth-ios/pull/118

[2019-01-18 23:53] #112 closed

[2019-01-23 04:56] gloryluu opened #119 "Got OktaAuth.OktaError.noTokens when refreshing token ?"
Hi, I got this issue while refreshing the token. I have checked that it already came through the function
`storeAuthState(_ tokenManager: OktaTokenManager)` when signin with browser. The weird thing is the access token is never saved to keychain. :/
You guy know how to fix it ?
Temporarily I have to refresh the token with Rest endpoint.

[2019-01-28 14:39] nbarbettini commented on #115
We have released 2.0.0: https://github.com/okta/okta-sdk-appauth-ios/releases/tag/2.0.0

Please open a new issue if you are still having issues! 👍

[2019-01-28 14:39] #115 closed

[2019-01-28 14:39] nbarbettini commented on #109
2.0.0 is now published to Cocoapods: https://github.com/okta/okta-sdk-appauth-ios/releases/tag/2.0.0

Please open a new issue if you are having new issues after you upgrade to 2.0.0. 👍

[2019-01-28 14:39] #109 closed

[2019-01-31 01:45] nbarbettini commented on #95
Done

[2019-01-31 01:45] #95 closed

[2019-01-31 01:58] nbarbettini opened #120 "Ensure User-Agent is sent"
Verify that this SDK sends a User-Agent header whenever it:

* Retrieves the OpenID Connect metadata document (`/.well-known/openid-configuration`)
* Exchanges an authorization code for tokens, for *both* browser or native sign-in

The value of the header must be:

[code]

The SDK may already be doing this in all cases, but I want to double check 🙂

More info can be found here: https://oktawiki.at

[2019-01-31 18:25] gabehoffman commented on #110
Updated to 2.0 -  We have two apps. One is just basically a glorified version of your test app. I can't get it working in that app. It's just hanging. It's getting the callback in AppDelegate, and I have the right code there, but it's like it doesn't know what to do with it. And then in our real app. I have it working with the 2.0 code. I'm doing the same things in both apps. Using different URL s

[2019-01-31 18:43] gabehoffman opened #121 "signOutOfOkta returning missingIdToken"
What does `missingIdToken` mean as an error message? I'm having some trouble getting this function to work. It's not popping up a temp web view, so I'm pretty sure it's not working as intended, but I don't think I can pass it anything.

[2019-02-04 17:20] nbarbettini commented on #121
Hey @gabehoffman, sorry for the delay. Can you show the code you're using for sign-in and sign-out? We'll investigate and figure out if there's a bug here.

[2019-02-05 15:33] codal-ashahu commented on #82
Is this feature still being implemented or taken off the roadmap after this?
#### [ Remove Resource Owner Password flow support #84](/okta/okta-sdk-appauth-ios/issues/84)

We are building an App that currently uses 1.0.1 release that has singin with username and password but refresh token feature is not working on that release putting us in tight spot.

Should we wait for this feature to be implem

[2019-02-05 22:17] gabehoffman commented on #121
Thanks @nbarbettini, here's the code for sign in and sign out.

### Sign-in
[code]

### Sign-out
[code]
Happy to pair with anyone as well. It's pretty much a cut and paste of the readme code samples. Sign-in works fine. Sign-out always give the `missingIdToken`

[2019-02-06 12:55] anastasiiaiurok-okta commented on #121
Hi @gabehoffman !
The error “missingIdToken” means that we don’t have idToken available at the moment. That could mean that user is not authenticated or his tokens were not stored somehow after authentication.
Could you please provide more details on the issue so we could investigate it.
1. What is the order of calls of signIn and signOut?
2. Do you call signOut within the same run where signIn ha

[2019-02-06 15:55] anastasiiaiurok-okta commented on #110
Seams like redirect doest not work for the test app. Could you please show sources of test app so we could investigate it?

[2019-02-06 15:59] gabehoffman commented on #110
I can't post the source code publicly. But I'd be happy to get on a screen share and let you take a look. Or perhaps I can get you access to our repo.

[2019-02-06 16:00] anastasiiaiurok-okta commented on #110
I think access to the repo might help.

[2019-02-06 16:13] gabehoffman commented on #110
I could save you a lot of time by showing you where to look.  There's very little Okta code really.

Let's see what we can set up - gabe.hoffman@accesscfa.com

[2019-02-06 22:05] Preslma commented on #121
Hi @anastasiiaiurok-okta,

1a. We are calling `signInWithBrowser()` only when the user is completely logged out and needs to authenticate. Note we are using a custom authorizer and not the default one, says our Okta-minded colleague here. Also, we do not `signInWithBrowser` on each app launch and foreground. After the initial successful Okta login, we immediately exchange the Okta id_token and acc

[2019-02-07 09:11] #120 closed

[2019-02-08 11:19] anastasiiaiurok-okta commented on #110
Issue occurs because improper import of Okta SDK into the app. Several implementation of the same class exists in runtime. That causes issues on login.
@gabehoffman Please, let us know whether we can close this issue.

[2019-02-08 11:23] anastasiiaiurok-okta commented on #121
@gabehoffman @Preslma Please, provide more details on how Sign Out method is initiated in your app. What view controller is passed? Is it presented at the moment when sign out is called?

[2019-02-08 18:50] gabehoffman commented on #110
This is correct. It was pulling in different libs. Thanks for your help.

[2019-02-09 18:35] #110 closed

[2019-02-11 19:11] codal-ashahu commented on #119
Hi, we are facing the same issue on 1.0.1 Release, any suggestions?

@gloryluu can you confirm if you are storing the refreshed token's in Okta Token Manager or handing it on your own?

[2019-02-12 00:44] gloryluu commented on #119
@codal-ashahu: I'm handling it on my own logic included store and refresh token.

[2019-02-13 19:37] skumbhat opened #126 "Mobile SSO"
The current version of the repo may not be using the ASWebAuthenticationSession class from apple: https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession to do SSO between Native Apps (the previous version SFAuthenticationSession used to work with iOS 11).

[2019-02-13 20:59] IldarAbdullin-okta commented on #126
@skumbhat , thanks for reporting this. In release 2.0 we reworked AppAuth UI flow to SFSafariViewController only. We will add support of ASWebAuthenticationSession for iOS12+ devices

@anastasiiaiurok-okta , could you add support of ASWebAuthenticationSession class similar to OID implementation?

[2019-02-15 16:37] anastasiiaiurok-okta commented on #126
Hi @skumbhat !

We did remove `SFAuthenticationSession` and `ASWebAuthenticationSession` intentionally. The reason is that API do not work for Sign Out. This is the known iOS issue (described [here](https://forums.developer.apple.com/thread/91647)).
Currently we are using `SFSafariViewController` for both `Sign In` and `Sign Out` on all the versions of iOS.

Please, let us know if you are ok with

[2019-02-15 18:05] skumbhat commented on #126
Okay, how are app developers going to achieve SSO then?

-Sandeep

[2019-02-22 00:08] nbarbettini commented on #82
@codal-ashahu This feature replaces #84. We weren't able to replace the Resource Owner Password flow immediately in 2.0 since we had to build a supporting library. The 2.1.0 release will include this new functionality to do native (non-browser) sign-in but without the security risk of the Resource Owner Password flow.

I'm not sure why refreshing a token isn't working for you - that should work ev

[2019-02-22 00:10] nbarbettini commented on #82
@IldarAbdullin-okta @olexiylebedyev-okta  Did we end up deciding to model this native sign-in method like the Android one? i.e. as `authenticate(sessionToken)`? I seem to remember that, but it's buried in PRs 😉 I think my description in this issue is not accurate anymore, just wanted to confirm.

[2019-02-25 15:54] anastasiiaiurok-okta commented on #126
Hi @skumbhat
We restored usage of SFAuthenticationSession. Please, check it out and let us know if there is any issue with it.

[2019-02-25 17:10] #92 closed

[2019-02-27 06:51] skumbhat commented on #126
Thank you! Just to make sure is it SFAuthenticationSession (iOS 11) or ASWebAuthentication (iOS 12+) or both?

-Sandeep

[2019-02-27 10:19] anastasiiaiurok-okta commented on #126
@skumbhat Both of them, depending on the version of iOS.

[2019-02-28 15:36] gabehoffman commented on #121
There was some sequencing issues that I think were causing the issue. It's resolved and it was on our end. Thanks for your help in diagnosing the problem.

[2019-02-28 15:36] #121 closed

[2019-03-04 10:39] chielos24 commented on #82
hi Nate @nbarbettini. We have the requirement to do native (non-browser) sign-in flow for our newly build app. Stakeholder want a seamless experience on launch of the app, it would help us greatly.

- Is this a PKCE flow?
- Does it support SSO with an webapplication?

Can we perhaps:
- help on developing this in IOS.
- share a Beta version on this?

[2019-03-04 17:15] nbarbettini commented on #119
Hey @codal-ashahu and @gloryluu, are you still experiencing this issue in 2.0? We made a number of improvements and bug fixes in the newest release.

[2019-03-04 17:15] nbarbettini commented on #126
@skumbhat Did the latest version work for you?

[2019-03-18 16:35] robertjd commented on #119
Closing issue for now, please re-open if this problem still exists

[2019-03-18 16:35] #119 closed

[2019-04-02 12:55] glebus opened #137 "Swift 5 support"
Since OktaAuth is not compatible with Swift 5, please specify Swift version 4.2 in OktaAuth.podspec or add Swift 5 support

[2019-04-15 14:20] bilal-codal opened #140 "Authenticate with sessionToken not working"
Current version **okta-sdk-appauth-ios(2.1.0)** not supported Native Sign-In,so we are using **[okta-auth-swift](https://github.com/okta/okta-auth-swift)(Beta)** for native okta login.
- We are getting SessionToken after successful login via Beta Okta Swift SDK,
- When we are used that SessionToken for generating OktaTokenManager, we get an error like **Authorization Error: Unexpected response for

[2019-04-16 08:15] codal-ashahu commented on #82
this is a possible linked issue https://github.com/okta/okta-sdk-appauth-ios/issues/140

[2019-04-16 13:18] nbarbettini commented on #82
@chielos24 Yes, we built this functionality so it's possible to create a seamless (native) sign-in experience without leaving the app.

* Is this a PKCE flow? Under the hood, yes. It uses the OpenID Connect authorization code flow just like the browser sign-in flow.

* Does it support SSO with an webapplication? **No.** There is a tradeoff here: signing in with a browser makes the web session avai

[2019-04-18 15:35] prtmshk opened #147 "v3.0.0 won't compile in Objective-C project"
I installed v3.0.0 and I'm getting an "'OktaOidc/OktaOidc-Swift.h' file not found" compiler error in OIDTokenRequest.m file in CocoaPods. However, importing the same file in my own ViewController.m does not cause this error.
![Screenshot 2019-04-18 at 21 02 40](https://user-images.githubusercontent.com/29314504/56372820-62a40200-621d-11e9-9967-c804c2d2d05c.png)
![Screenshot 2019-04-18 at 20 58 02]

[2019-04-19 12:49] anastasiiaiurok-okta commented on #147
@prtmshk Thanks for submitting this issue. Could you please try to add 'use_frameworks!' into your Podfile and specify whether this helped to resolve your issue?

[2019-04-19 18:39] IldarAbdullin-okta commented on #140
Hi @bilal-codal ,

Could you please double check that both libraries hit the same endpoint?  Please check `issuer` host in Okta.plist and host that you use in native sign-in flow

Thanks!

[2019-04-25 04:18] prtmshk commented on #147
Hello and sorry for the late response. I tried adding ```use_frameworks!``` to my Podfile and it resolved the issue with OktaOidc. It did break a few other on Monday which I fixed over the day and now everything's working fine.

Can you give me a one sentence summary of why this worked?

Thank you very much for the solution!

[2019-04-25 23:36] IldarAbdullin-okta commented on #147
@prtmshk , OktaOidc pod depends on an Objective-C code so cocoapods can't create static swift lib for you. The only choice is to use dynamic frameworks and therefore option `use_frameworks!`

Closing as issue has been resolved.

[2019-04-25 23:36] #147 closed

[2019-04-25 23:41] IldarAbdullin-okta commented on #43
https://github.com/okta/okta-oidc-ios/pull/150

Added objc support to the lib and updated readme

[2019-04-25 23:41] #43 closed

[2019-04-26 02:18] IldarAbdullin-okta commented on #81
Outdated, closing.

[2019-04-26 02:18] #81 closed

[2019-04-26 02:25] IldarAbdullin-okta commented on #83
Outdated, closing

[2019-04-26 02:25] #83 closed

[2019-04-26 02:26] #86 closed

[2019-04-26 02:26] IldarAbdullin-okta commented on #137
Added swift 4.2 to podspec

[2019-04-26 02:26] #137 closed

[2019-04-29 11:51] bilal-codal commented on #140
Hi @IldarAbdullin-okta,

We have verified `issuer` host name in Okta.plist and native sign-in flow from **okta-auth-swift**(Beta) has been same, We still facing the same error.

We have used following code for create `AuthenticationClient`

Thank you for helping us

[2019-04-30 16:58] IldarAbdullin-okta commented on #140
Hi @bilal-codal ,

Please make sure that you also provided the following parameters in Okta.plist
"scopes" - default values are - "openid profile offline_access"
"clientId" - Id of your native application that has been created in your *.okta.com organization

Please let me know if you have other questions

Ildar

[2019-05-01 12:52] bilal-codal commented on #140
Hi @IldarAbdullin-okta ,

We already created an application in *.okta.com organization and used that `clientId` in our Okta.plist

Can you please verify my attechement
- Code for create `AuthenticationClient` from `okta-auth-swift` SDK
![Screenshot 2019-05-01 at 11 59 15 AM](https://user-images.githubusercontent.com/20395510/57016823-d391e380-6c39-11e9-8e98-642f7f92c940.png)

- `Okta.plist` Screen

[2019-05-01 18:18] IldarAbdullin-okta commented on #140
Hi @bilal-codal ,

     Your code and configuration are looks good.
     I was trying to find logs for the instance `iamtest` and didn't find any requests with the path `/oauth2/default/v1/authorize`.
     Could you temporary add me to your **test** org(as admin) so I can test on my side and check the configuration? You can send invite to the following email - ildar.abdullin@okta.com

Ildar

[2019-05-07 21:46] IldarAbdullin-okta commented on #140
Hi @bilal-codal ,

Any updates regarding reported issue?

Ildar

[2019-05-10 17:17] IldarAbdullin-okta commented on #140
Closing for now. Please re-open if the issue persists

[2019-05-10 17:17] #140 closed

[2019-05-10 17:18] IldarAbdullin-okta commented on #126
Closing for now. Please reopen if the issue persists

[2019-05-10 17:18] #126 closed

[2019-05-10 17:22] IldarAbdullin-okta commented on #76
So, the structure is following:
- OIDC repo contains small sample app that also behaves as a test-harness with the unit and integration tests on board
- OIDC sample app repo contains application with the end-to-end tests on board

[2019-05-10 17:22] #76 closed

[2019-05-10 17:23] #82 closed

[2019-05-13 06:49] amitvts opened #151 "With version 3.1.0 application is asking me to login everytime I launch app"
Hi,

Our application was working fine with the last version of `OktaAuth` since that SDK is deprecated I've integrated the new one based on the instruction.

From my investigation, it seems application is not able to `readFromSecureStorage` in the next launch.

Please let me know if you need more detail.

[2019-05-14 05:56] IldarAbdullin-okta commented on #151
Hi @amitvts ,

If you have a requirement to store access token in keychain, you have to call `OktaOidcStateManager.writeToSecureStorage` upon successful authentication. During app start-up call `OktaOidcStateManager. readFromSecureStorage`. Please refer to our [sample app repo](https://github.com/okta/samples-ios/tree/master/browser-sign-in) to get an idea what methods should be called

Ildar

[2019-05-14 07:17] amitvts commented on #151
Hi @IldarAbdullin-okta

I am writing to secure storage. I was using property observer for that.

I have tested the sample code that you linked me and it is also doing the same thing. I have attached the video for your reference.

Please let me know if you need more details.

Thank you,
Amit
![MyMovie](https://user-images.githubusercontent.com/10274963/57678255-2755f100-766c-11e9-8fa5-54a4d21bd7f4.

[2019-05-14 18:02] IldarAbdullin-okta commented on #151
Hi @amitvts ,

This is weird. Do you use `Okta.plist` or you create `OktaOidcConfig` manually?
Could you send me your `issuer` and `client_id` parameters to ildar.abdullin@okta.com. I will try to reproduce on my side. If possible you can also send me Okta sample app with your config

Thanks!

[2019-05-15 01:01] amitvts commented on #151
Hi Ildar,

I am using a plist based approach. I have sent you the source code that
uses that plist.

Thank you for your help.

On Wed, 15 May 2019 at 04:03, Ildar Abdullin <notifications@github.com>
wrote:

--
[image: Tigerspike]
Amit Vaghela
Technical Lead
tigerspike.com
SYD <https://tigerspike.com/contact/sydney> SFO NYC LON WRO
DXB MUM SIN TYO MEL
phone +61 2 9361 5132 <61293615132>
mobile 0430

[2019-05-15 18:18] IldarAbdullin-okta commented on #151
Hi @amitvts,

Thank you for the sent project. It helped a lot in troubleshooting. I've responded with suggestion what could be changed in your config to workaround the issue

The issue could be in difference of `issuer` parameter in `OktaOidcConfig` and `OktaOidcStateManager` objects and that cause key mismatch issue during keychain writing/reading

Please let me know if workaround helped. We will

[2019-05-17 18:33] IldarAbdullin-okta commented on #151
Fixed in [3.2.0](https://github.com/okta/okta-oidc-ios/releases/tag/3.2.0)

[2019-05-17 18:33] #151 closed

[2019-05-20 06:54] KrishnaKishore1992 opened #154 "iOS: How to log out from Okta iOS SDK v1.0.1?"
For a native iOS app, i’m using the **OktaAuth cocoa pod(v 1.0.1)**, and I’m trying to get the app to log out so that another user can use the same device.

I use the following: **OktaAuth.clear()**

However, after doing this and presenting the sign-on screen, it automatically logs on again immediately.

Am I missing something that I need to clear or reset or something?

Could you please code snip

[2019-05-23 22:49] IldarAbdullin-okta commented on #154
Hi @KrishnaKishore1992 ,

`OktaAuth.clear()`  just removes access token from the keychain. It doesn't delete session token
In version `2.0.0` we implemented `signOutOfOkta` function that you can use for sign out flow

Ildar

[2019-05-23 22:49] #154 closed

[2019-05-29 23:47] IldarAbdullin-okta commented on #5
Resolved

[2019-05-29 23:47] #5 closed

[2019-06-19 23:52] nbarbettini opened #159 "Broken anchor link in readme"
The **How to use in Objective-C project** link in the README is broken. Can you fix it?

[2019-06-21 01:36] andrewvanbeek-okta opened #162 "Json Serialization error on MFA verify"
Running example code snippet, can get to the point where I provide sms otp code, but each time I call verify I get: responseSerializationError(Swift.DecodingError.dataCorrupted(Swift.DecodingError.Context(codingPath: [CodingKeys(stringValue: "factorResult", intValue: nil)], debugDescription: "Cannot initialize FactorResult from invalid String value CHALLENGE", underlyingError: nil)), 1157 bytes)

[2019-06-21 08:03] IldarAbdullin-okta commented on #162
Hi @andrewvanbeek-okta ,

Please submit issues that are related to oka-auth-swift SDK into it's repo: https://github.com/okta/okta-auth-swift

Regarding the issue: What version of the SDK you use? This issue is fixed in latest SDK: [1.3.0](https://github.com/okta/okta-auth-swift/releases/tag/1.3.0)
Please also track issue in our internal ticket: OKTA-224371-AuthN iOS SDK: Adding of new 'factorResu

[2019-06-21 08:09] #162 closed

[2019-06-21 12:32] #159 closed

[2019-07-02 16:35] andrewgotow opened #164 "Sign in immediately fails in iOS 13 Beta"
I have an application which uses Okta for authentication. In iOS 11 and 12 everything works as expected, however when running the application under the public beta of iOS 13 sign in immediately fails without presenting a Safari ViewController.

### Expected Behavior

The application initializes a Safari authentication session and presents the sign in ViewController.

### Current Behavior

The appl

[2019-07-02 21:54] IldarAbdullin-okta commented on #164
Hi @andrewgotow ,

Thanks for reporting this issue. Underlying AppAuth SDK requires update to support iOS 13
Issue to track: https://github.com/openid/AppAuth-iOS/issues/400

Ildar

[2019-07-05 06:02] volkanbicer opened #165 "How to open up the URL of the site protected by SSO?"
I've already logged in and I'm just trying to open up the URL of the site protected by SSO, how it could be done?

[2019-07-09 23:17] IldarAbdullin-okta commented on #164
Fixed in [Release 3.4.0](https://github.com/okta/okta-oidc-ios/releases/tag/3.4.0)

[2019-07-09 23:17] #164 closed

[2019-07-10 13:24] nodediggity commented on #165
I'm have a similar requirement, my current approach is to cache my authentication cookies and ensure they are set on the browser attempting to render the sso link.

Not sure about this approach though and would love to know if something native exists within OKTA?

[2019-07-11 19:18] jrtibbetts opened #168 "OktaOidcMetadataDiscovery.run() doesn't surface errors generated by OIDServiceDiscovery initializer"
When `OktaOidcMetadataDiscovery.run()` creates an `OIDServiceDiscovery` object from the `oktaAPI.get()` call, it doesn't pass in an error pointer to get the specific error, so it just calls `callback()` with a generic `parseFailure`, which isn't very helpful. When I stepped into the `OIDServiceDiscovery` initializer in the debugger, I found that my problem was simply a missing `issuer` field in th

[2019-07-12 07:46] nodediggity commented on #151
I am seeing the same behaviour when using `OktaAuthSdk` with a custom sign in route. `OktaOidc` is `3.4.0`

I can confirm this is also happening with the [demo app](https://github.com/okta/samples-ios/tree/master/custom-sign-in)

[2019-07-12 17:59] IldarAbdullin-okta commented on #151
@nodediggity , could you tell me more about your "custom sign in route"? I can't reproduce the issue with the sample app
Also if possible could you send me your Okta.plist and create test user and test app in your org, so I can try to replicate? Please send credentials to email: ildar.abdullin@okta.com

[2019-07-12 23:20] IldarAbdullin-okta commented on #168
Fixed

[2019-07-12 23:20] #168 closed

[2019-07-12 23:38] IldarAbdullin-okta commented on #165
OKTA disables persistent cookies by default therefore SSO doesn't work. To enable it you have to use REST API and change some parameters. Unfortunately you can't change that setting via org web site
The resource that you have to change is SignOn Policy Rule, details are [here](https://developer.okta.com/docs/reference/api/policy/#okta-sign-on-policy)
Parameter that you have to change is `usePersis

[2019-07-16 14:42] nodediggity commented on #151
Hey @IldarAbdullin-okta I was able to fix this in code, I had an issue with my `Okta.plist` props.

Thanks for reaching out :)

[2019-07-17 06:43] nodediggity commented on #165
It turns out the issue I had was actually related to setting up my `OktaOidcStateManager` incorrectly.

**Wrong**
`manager = OktaOidcStateManager.readFromSecureStorage()`

**Working**
`manager = OktaOidcStateManager.readFromSecureStorage(for: oktaOidc.configuration)`

Thanks for coming back to me none the less :)

[2019-07-29 18:23] lukenewman opened #175 ""Failed to parse and/or convert object.""
i'm testing out my client's production okta setup, but am getting the above error when attempting to present a sign in prompt (also see screenshot).

here's the config dictionary that the `OktaOidcConfig` is being constructed from:

`["redirectUri": "com.io.client:/callback", "issuer": "https://client.okta.com/oauth2/default", "logoutRedirectUri": "com.io.client:/logout", "clientId": "20characterI

[2019-07-29 20:21] IldarAbdullin-okta commented on #175
Hi @lukenewman ,

As a first auth step SDK hits the `https://client.okta.com/oauth2/default/.well-known/openid-configuration` endpoint and gets the following response:
`{"errorCode":"E0000015","errorSummary":"You do not have permission to access the feature you are requesting","errorLink":"E0000015","errorId":"oaeJIw7yus2SWWQexbEJQ43fA","errorCauses":[]}`
That is the reason why you see `Failed to

[2019-07-30 14:08] lukenewman commented on #175
@IldarAbdullin-okta thanks for the info. changing the issuer parameter resulted in the same error, however. we will contact okta support. thanks!

[2019-08-08 19:02] IldarAbdullin-okta commented on #164
@andrewgotow , did you have a chance to test SDK 3.5.0 with iOS13?

[2019-08-17 00:15] #175 closed

[2019-09-06 07:18] nodediggity opened #180 "Using an embedded browser for sign in instead of a presented view?"
I'm looking at adding a login journey via `oktaOidc.signInWithBrowser`.

It is not clear from the docs if it is possible to render this within an embedded `webview`.

This breaks the user experience within my app, I'd much prefer to have more control over how this view is rendered - is this possible?

[2019-09-06 19:29] nodediggity opened #181 "Browser sign in w/ out using SFAuthenticationSession or ASWebAuthenticationSession"
When using `SFAuthenticationSession` or `ASWebAuthenticationSession` the user is currently prompted to give consent every time the window is presented.

The leads to a scenario as follows:

User clicks **Sign In** and is presented with a `UIAlert` asking their consent to **Sign In**

<img width="313" alt="Screenshot 2019-09-06 at 20 20 53" src="https://user-images.githubusercontent.com/25435000/64

[2019-09-06 19:34] nodediggity commented on #180
I have opened an issue #181 in place of this as I believe `oktaOidc.signInWithBrowser` does not provide a usable experience in it's current state.

[2019-09-06 19:34] #180 closed

[2019-09-06 19:49] #72 closed

[2019-09-10 00:23] IldarAbdullin-okta commented on #181
Hi @nodediggity ,

Unfortunately these alerts are shown by `SFAuthenticationSession` and `ASWebAuthenticationSession` classes. There is no workaround how to disable them I would recommend you to fork oidc repo, modify `OIDExternalUserAgentIOS` class and force using `SFSafariViewController` implementation. In that case you will not see system alerts during sign-in/sign-out flow. However take into a

[2019-09-10 12:26] nodediggity commented on #181
Thanks for coming back to me on this @IldarAbdullin-okta - I did some investigation myself also and I see now why it behaves this way.

Appreciate your input 👍

[2019-09-10 12:26] #181 closed

[2019-09-13 17:58] IldarAbdullin-okta commented on #89
Fixed in https://github.com/okta/okta-oidc-ios/pull/182

[2019-09-13 17:58] #89 closed

[2019-09-23 01:53] adamlatitude opened #186 "Codebase is old Swift version (4.2; current is 5.1)"
Hi - in the sample apps I submitted the same issue and got a very quick response. Any chance to update this code to Swift 5.1 also?

[2019-09-23 15:21] codemanager255 opened #187 "Use the Authorization Code Flow with PKCE"
Is code supporting "Use the Authorization Code Flow with PKCE" Flow or we need to do it separately .

[2019-09-24 00:25] IldarAbdullin-okta commented on #187
Hi @codemanager255 ,

SDK performs all required steps internally - gets authorization code and exchanges it to access token. You don't need to do any extra calls from application level
Does that answer your question?

Ildar

[2019-09-24 18:09] #187 closed

[2019-09-24 18:12] IldarAbdullin-okta commented on #165
Guide is now available: https://developer.okta.com/docs/guides/shared-sso-android-ios/ios/overview/

[2019-09-24 18:12] #165 closed

[2019-09-26 14:28] wmtylerdavis opened #188 "File not found OIDAuthorizationService.h"
When updating my app to latest GoogleSignIn SDK, which brings in a dependency to AppAuth, I ran into several preprocessor issues for File Not Found.

Changing several imports locally from #import "OIDAuthorizationService.h" to #import <OktaOidc/OIDAuthorizationService.h> worked to correct the issue.

But the okta-oidc framework should be bringing in AppAuth as a dependency (like GoogleSignIn), not

[2019-09-26 23:03] IldarAbdullin-okta commented on #188
We did this intentionally as we have some Okta specific modifications and fixes in AppAuth files.
However AppAuth has finally released stable GA version 1.x.x, so we probably reconsider our approach

[2019-09-26 23:03] #188 closed

[2019-09-26 23:05] IldarAbdullin-okta commented on #186
Hi @adamlatitude ,

Could you tell me more about the issue? I'm pretty sure that Okta's SDK should be compatible with Swift 5

Ildar

[2019-09-27 13:56] wmtylerdavis commented on #188
Yeah, I understand the intention. At a minimum, removing the naming collisions `#import <OktaOidc/...h>` can prevent a lot of headaches.

[2019-10-02 08:26] gloryluu commented on #186
@IldarAbdullin-okta I think he's mentioning about the compile warning ?

[2019-10-04 09:40] nodediggity opened #189 "signOutOfOkta cannot parse .plist values"
I have a service that providers a layer over `OktaOidc`

That has a `logout` method that calls `signOutOfOkta`.

[code]
When I call this method I get the following in my console:

[code]

My config is created as follows

I create a `struct` containing config for my environment.
[code]

This is then passed via the `init` method of my service and mapped using the following function

[code]

This see

[2019-10-04 12:41] nodediggity commented on #189
I added some additional logging to the method that calls `signOutOfOkta` and I can see all the values logged I would expect to see.

[code]

[2019-10-04 13:00] nodediggity commented on #189
I was missing `logoutRedirectUri` in my config object. I have added this property and it is now working.

My mistake 🤦‍♂

[2019-10-04 13:00] #189 closed

[2019-10-06 22:36] adamlatitude commented on #186
Hi, was looking at all the code samples in this repo. While I can convert them like anyone else it would be great to have an official Swift 5 version.

[2019-10-09 09:27] arshadsk5 commented on #181
How to solve this sign in text on sign out alert, please help I stuck at this. Thanks in advance.

[2019-10-16 22:16] manigandanramaratnam opened #194 "OKFA MFA"
When the MFA is enabled in the application level (through MFA signOn policy), the authenticate method is breaking. May you please advise how to go about this?

This is the error response as the result of calling the authenticate method.
APIError : "Authorization Error: Unexpected response format while retrieving authorization code."

[2019-10-16 22:25] IldarAbdullin-okta commented on #194
Hi @manigandanramaratnam ,

Could you provide more info? How you getting session token?

Ildar

[2019-10-16 22:44] manigandanramaratnam commented on #194
**Here’s how I get the session token:**

OktaAuthSdk.authenticate(with:{okta domain}, username: {user name}, password: {password}, onStatusChange: { (status) in
 }) {(error) in
 }

**Access token is obtained like below and the failure happens here:**

oidcClient.authenticate(withSessionToken: sessionToken, callback: {stateManager, error in
})

Based on my debugging so far, i see the "v1/authorize"

[2019-10-17 19:02] manigandanramaratnam commented on #194
Hi @IldarAbdullin-okta, please let me know if i've provided sufficient details or if you require any further information.

[2019-10-17 20:02] IldarAbdullin-okta commented on #194
This type of issue could not be caused by MFA. Make sure that your settings are correct and your issuer url is the same in both auth-swift and oidc-ios SDKs

[2019-10-17 21:36] manigandanramaratnam commented on #194
Hi @IldarAbdullin-okta,

The url string used for getting the session token is: "https://{masked}.okta.com"
The issuer used for getting the access token is: "https://{masked}.okta.com/oauth2/default"

I've uploaded my test code here for your reference: https://github.com/manigandanramaratnam/Okta-Custom

If the sign on policy for MFA is set against Security > Authentication in Okta portal then ever

[2019-10-17 23:42] IldarAbdullin-okta commented on #194
Hi @manigandanramaratnam ,

This is strange that MFA settings on application level can affect tokens exchange flow. I will check this with my environment and will let you know

Thanks,
Ildar

[2019-10-18 23:38] IldarAbdullin-okta commented on #194
So, exchange flow is being failed here because Okta server can't check whether user was challenged with MFA or not. Native sign-in flow doesn't use `client_id`, so backend can't evaluate your application level sign-on policy. So what is available for the backend is your org sign-on policy. This is the limitation for native sign-in flow
Application level sign-on policies can only be used for the si

[2019-10-19 00:06] #194 closed

[2019-10-24 17:05] miguel-jimenez-0529 opened #198 "ASWebAuthenticationSession in iOS 13 bug."
Hello,

I'm currently facing an issue with the `pod 'OktaAuth', '~> 2.1'` on iOS 13.
When I start the signIn flow with:
[code]
I receive the following error:
`Authorization Error: The operation couldn’t be completed. (org.openid.appauth.general error -3.)"`

After digging on the SDK I realize that the issue is caused because of the `ASWebAuthenticationSession` object.
In iOS 13 `ASWebAuthenticatio

[2019-10-24 19:37] IldarAbdullin-okta commented on #198
Hi @miguel-jimenez-0529 ,

Version 2.1 is not compatible with iOS 13. You have to install and start using 3.5.2 version

Ildar

[2019-10-24 19:37] #198 closed

[2019-10-24 20:06] miguel-jimenez-0529 commented on #198
Thanks for the quick response @IldarAbdullin-okta, I'm referring to the `pod 'OktaAuth'` not `pod 'OktaOidc'`. For `pod 'OktaAuth'` the latest version available is `2.1`.

[2019-10-24 20:23] IldarAbdullin-okta commented on #198
`OktaAuth` is legacy pod and not supported anymore. Your only option is to start using `OktaOidc` 3.5.2

[2019-11-07 18:03] lukenewman opened #199 "Sign In prompt is displayed before signOut completion handler is called"
I'm using version 3.5.2. Here's my sign out method:

[code]

A sign-in prompt is shown before the completion handler is called. I'm not doing anything on log out other than calling this method. Any ideas?

[2019-11-13 14:32] lukenewman commented on #199
hellooooo

[2019-11-13 15:03] lukenewman commented on #199
it's looking like this bit of code:

[code]

is responsible for the "Sign In" prompt being displayed

[2019-11-13 19:22] IldarAbdullin-okta commented on #199
Hi @lukenewman ,

Please refer to this issue - https://github.com/openid/AppAuth-iOS/issues/461
This is system pop-up, we can't customize or hide it

Ildar

[2019-11-13 19:22] #199 closed

[2019-11-21 20:32] gabehoffman opened #200 "SecureStorage key issues (-25300 errSecItemNotFound)"
I've been updating our apps to the new SDK on version 3.x, and I'm trying to use the new secure storage methods. API looks great, seems to be fine to implement, but in practice it doesn't work. Error to retrieve the data every time, and I'm using the sample code.

Then I look into the code for
`.readFromSecureStorage` and `.writeToSecureStorage` and they are reading and writing to fundamentally di

[2019-11-22 22:40] IldarAbdullin-okta commented on #200
Hi @gabehoffman ,

Please use the following function for reading data:
`class func readFromSecureStorage(for config: OktaOidcConfig) -> OktaOidcStateManager?`

Function `class func readFromSecureStorage() -> OktaOidcStateManager?` will be deprecated soon as we left it for migration purposes.

Sorry for confusion, I think we should make it more clear in README file

Ildar

[2019-12-09 07:48] volkanbicer commented on #164
This issue seems closed, but I tested SDK 3.5.2, but still see get the same error.  Is there any update on this? @IldarAbdullin-okta

[2019-12-10 05:22] volkanbicer opened #201 "iOS 13 ASWebAuthenticationSession sign-in alert dismissed immediately"
I tested it with SDK 3.5.2, when I call *signInWithBrowser* function it always fails

[2019-12-10 18:49] IldarAbdullin-okta commented on #201
Hi @volkanbicer ,

Could you provide more details? Did you test on simulator or device? What exact iOS version? What is your XCode version? What error message you see? Did you try to test on iOS 12?

Ildar

[2019-12-10 19:42] volkanbicer commented on #201
I tested both on simulator and device.

- XCode version 11.2.1
- iOS version 13.2.1

I tested with older iOS versions and it's working. When I call signInWithBrowser function, I see UIAlerViewController that says "*** wants to use ** to sign in " and it dismissed in 1 second.

[2019-12-11 01:30] IldarAbdullin-okta commented on #201
Please keep tracking this issue as well - https://github.com/openid/AppAuth-iOS/issues/447
I think this is the same issue that you see. I can't reproduce it on both simulator and device

[2019-12-11 05:05] RajasekaranNeethipathi opened #202 "Xcode 11.2.1 - Okta OIDC Version 3.3.0 - Issue in SignWithBrowser"
<img width="1154" alt="Xcode 11 2 1 - SignWithBrowser - Okta oidc 3 3 0" src="https://user-images.githubusercontent.com/17060326/70592604-69461600-1c00-11ea-91e5-fbf382d51963.png">

Hi Team, We are experiencing issue in the SignWithBrowser method while deploying our app  integrated with Okta Oidc 3.3.0 using Xcode 11.2.1 in both simulator and device with iOS 13.2

Please find attached the screensh

[2019-12-11 05:39] volkanbicer commented on #201
@IldarAbdullin-okta thank you very much. I saw the issue. I was passing a new UIViewController instance as from parameter when I call signInWithBrowser function. But as I see it's not a strong reference anymore. Now I'm closing this issue.l

[2019-12-11 05:39] #201 closed

[2019-12-11 05:47] IldarAbdullin-okta commented on #202
Hi @RajasekaranNeethipathi,

OIDC SDK 3.3.0 doesn't support iOS 13.0. Please start using latest SDK 3.5.2

Ildar

[2019-12-11 05:47] #202 closed

[2019-12-16 21:49] codepadma opened #203 "Compatibility of OktaOidc with Swift 5.1 and 5.2"
Can we make sure OktaOidc is compatible with Swift5.1 and 5.2 ?

[2019-12-17 02:44] yashrao99 opened #204 "Retrieving User Info with initial returned ID token"
Hi there,

The JWT that is returned to me with the `OktaOidcStateManager` contains some of the relevant information I want, but requires the iOS client to use the `getUser` method to retrieve other information.

I need that information within the JWT that is returned from the authentication. I cannot add these values to the JWT after that call, or else that would defeat the purpose.

I have tried

[2019-12-20 13:37] anastasiiaiurok-okta commented on #203
@codepadma The Okta OIDC lib uses Swift 4.2 which is source compatible with Swift5.X by default.
Please, add more details if you are facing any issues with Swift 5.X compatibility.

[2019-12-20 20:06] gabehoffman commented on #200
Ok, I made those changes, thanks for confirming that change. It did solve the problem. However, when I pull the `stateManager` out of storage. The only token it has is the `refreshToken`, no `idToken` and no `accessToken` they are both nil. Is that on purpose, or is something else going wrong?

And if it's on purpose, then what's this example showing?
https://github.com/okta/samples-ios/blob/bf608

[2019-12-21 01:04] IldarAbdullin-okta commented on #200
Both `accessToken` and `idToken` can be `nil` when they are expired. Could you check this?

[2019-12-21 03:38] gabehoffman commented on #200
Our dev environment has very short lived tokens to make our lives easier with debugging, but it is as you said, if I try it right away they are there, if it's beyond their expiration, then the data is gone. Thanks for the clarification. I'll go ahead and close this.

[2019-12-21 04:59] gabehoffman commented on #200
I can retrieve the payload of the accessToken now, but it doesn't have all the data that it should when I use `try OktaOidcStateManager.decodeJWT(accessToken)`.
For instance the payload that function returns is missing `active` and `username`, refreshToken is missing `active` as well.
Which is a real problem because I am using the `Codable` convinces to turn those JSON structures into concrete dat

[2019-12-24 23:55] IldarAbdullin-okta commented on #204
Hi @yashrao99 ,

Could you try to add more scopes into your `Okta.plist` and check? Add the following scopes: `profile`, `email` and `phone`

Ildar

[2019-12-24 23:55] #203 closed

[2019-12-25 00:04] IldarAbdullin-okta commented on #200
`Access token` is just base64 encoded string that is saved as-is without any modifications. Can you double check content of JWT before saving and after restoring?

[2019-12-27 08:19] yashrao99 commented on #204
@IldarAbdullin-okta Hi there,

Adding those to the scope did not work in retrieving the information in the `JWT` with the relevant information. Still having to hit the `userInfo` endpoint

[2020-01-03 23:01] yashrao99 commented on #204
@IldarAbdullin-okta Hi there,

We tried again today, by adding all the values to the scope, and we are still not getting the personal claims that we expected. We have the following `openid profile offline_access email phone`

Thanks,
Yashas Rao

[2020-01-04 01:02] IldarAbdullin-okta commented on #204
@yashrao99 , have you tried to hit `userinfo` endpoint and check whether you see required information in response?
Please also read this post - https://devforum.okta.com/t/how-to-get-more-claims-in-userinfo-endpoint/3559

[2020-01-04 01:05] yashrao99 commented on #204
@ildarAbdullin-okta

I have used the userInfo endpoint and it does work. My question is that our
web applications JWT contains the relevant info when decided.

However, using the mobile SDK, I have to fetch that information using
userInfo. I would like that information in the original JWT or idToken that
is returned rather than having to make an extra trip

On Fri, Jan 3, 2020 at 5:02 PM Ildar Abd

[2020-01-04 01:25] IldarAbdullin-okta commented on #204
I assume you mean `id_token` when saying JWT. Could you check link from Okta devforum that I provided? It has some relevant information about how to add custom claims into `id_token`
I would also recommend to contact Okta customer support

[2020-01-04 01:45] yashrao99 commented on #204
Yes, `id_token` == JWT. On our web app, decoding this `id_token` contains the values we configured using the profile mappings but using the mobile SDK, we are required to use the `access_token` to hit the `/userinfo` endpoint which we are trying to avoid since we need our custom values within the returned `id_token`

I checked that link. The only one that looked relevant was referencing a `Claims`

[2020-01-06 17:24] gabehoffman commented on #200
Ok, I can confirm it's the same thing going in and coming out. The part that's confusing then is that the payload that comes as part of introspection of the access token has some additional data in it that is not a part of access token data model. So the introspection payload is in fact the access token plus some info. This is an important distinction when using the `Codable` protocol, which makes

[2020-01-06 18:24] gabehoffman commented on #200
That `accessToken` plus some data. Is that just `active` and `username` or what else am I missing.

[2020-01-06 18:46] gabehoffman commented on #200
I kept digging in and this is what the `OktaOidcStateManager.decodeJWT(accessToken)` gives me vs what the `stateManager.introspect(token: accessToken)` (with the same data being removed)

`JWT DECODE`
[code]

`INTROSPECTION`
[code]
Major Differences -
`active` (not in both, that's fine, I get that)
but why does `cid` become `client_id`, `scp` become `scope` (and not an array)
`token_type` and `use

[2020-01-06 18:57] IldarAbdullin-okta commented on #200
`Introspect` doesn't return you the same JWT structure of the token, it is just a description of the token and API response is OKTA specific. Please refer to the documentation: https://developer.okta.com/docs/reference/api/oidc/#introspect

[2020-01-07 18:14] IldarAbdullin-okta commented on #204
Hi @yashrao99 ,

Apologies for the late response. I would recommend to ask for the possible solution in Okta dev forum or customer support.

Ildar

[2020-01-07 18:14] #204 closed

[2020-01-07 22:35] #200 closed

[2020-01-16 23:00] miguel-jimenez-0529 opened #206 "[Question ] OktaOidcStateManager for App Groups"
Hi guys, I would like to know if there is a way to access a previously stored `OktaOidcStateManager` from an extension?
I imagine it should be thorough **App Groups**, but I can't find where to add my `group identifier`  into the SDK to achieve this.

Thanks in advance for your time.

[2020-01-24 20:17] IldarAbdullin-okta commented on #206
Hi @miguel-jimenez-0529 ,

You have to use your own storage mechanism for storing sharable data. I would recommend to use Okta's [secure storage library](https://github.com/okta/okta-storage-swift), which is very lightweight Swift wrapper for the keychain API. It allows you to use `app groups`, `biometric` and other features

Ildar

[2020-01-24 20:17] #206 closed

[2020-02-09 18:07] saulurias opened #208 "UI Test Failure"
Not being able to find the textfields from the webview, took the code from your examples and it used to work but now did stop working.

<img width="1028" alt="Screen Shot 2020-02-09 at 12 05 59" src="https://user-images.githubusercontent.com/11281932/74107365-abbe9d00-4b34-11ea-87fd-0644fa2e7a51.png">

[2020-02-28 05:01] govindprasadgupta opened #210 "This library is worst library"
This library is the worst library I have seen.

1. Did you ever test the signOutFromOkta method? After tapping logout, application shows an alert to confirm. This alert message is the same as sign in-browser alert.

**Sign -in alert:**
<img width="571" alt="Sign_in alert" src="https://user-images.githubusercontent.com/2104937/75511777-406e3980-5a15-11ea-963b-25980550f2de.png">

**Signout alert**
<

[2020-02-28 05:23] IldarAbdullin-okta commented on #210
Hi @govindprasadgupta ,

System pop-up for sign-out flow is known iOS issue. Please refer to AppAuth-iOS issue - https://github.com/openid/AppAuth-iOS/issues/461.
Regarding SAML please create separate issues and explain what is the problem

Ildar

[2020-02-28 05:23] #210 closed

[2020-02-28 06:10] govindprasadgupta commented on #210
You know this issue and you released a package with the bug.
You did not mention this bug in the readme file or in any tutorial.
At lease mention this issue in the Github readme and OKTA tutorial page.

[2020-02-28 07:50] IldarAbdullin-okta commented on #210
Would like to omit long discussions why Google AppAuth-iOS and Okta decided to create release with minor iOS bug

Regarding `Known-Issues` section in README file - it is definitely a good idea! We will add it. Thanks

[2020-03-24 13:46] DrishyaOB opened #211 "No error or success response after login"
Hi,

I am using this SDK for integrating SSO in my ios application. I configured my application in the Okta developer account and wrote all the functions as specified in the document.

**App Flow:**
I log in with the sample application as provided in the below link:
[SDK Sample App](https://github.com/okta/okta-oidc-ios)

After tapping on the Sign-in button, the application was redirected to the O

[2020-03-25 05:33] DrishyaOB commented on #211
The issue has been resolved.

There was upper case in the bundle identifier which caused the issue. Made redirect uri's all lower case. The following link helped:

[Code Not Exchanged For Tokens in iOS Auth Code Flow
](https://support.okta.com/help/s/article/Code-Not-Exchanged-For-Tokens-in-iOS-Auth-Code-Flow)

Thanks

[2020-03-25 22:53] IldarAbdullin-okta commented on #211
Thank you, @DrishyaOB. I'm happy that you resolved the issue!

[2020-03-25 22:53] #211 closed

[2020-04-15 17:28] superarts opened #213 "Moving `openURL` Related Functions to a Different Subspec"
I assume `OktaOidc` is designed as a "generic" library to be used by any iOS targets, but current, the `openURL` related functions prevent it to be included in targets like a Today Extension.

## How to reproduce

Create a Today Extension, add `OktaOidc` to it, and the project cannot be built.

## Suggestions

There are multiple files in this repo calls `openURL` API, e.g. [this one](https://githu

[2020-04-16 07:01] afmsxpand opened #214 "Oauth and SSO in WKWebview"
Hi,

I'm using the `signInWithBrowser` option to signin the user, but then i can't find a way to "inject" this session into a WKWebview that needs to show a Tableau dashboard (configured with SAML).

**What i did**
- I've changed the `usePersistentCookie` as stated in https://github.com/okta/okta-auth-swift/issues/98 but Tableau is still asking for login.

- Tried to get the cookies from `HTTPCook

[2020-04-16 15:33] kirillyakimovich opened #215 "AppAuth-iOS dependency"
Could you please explain why AppAuth-iOS is just copied and not added as a dependency?
Is it worth to create a PR changing this?

[2020-04-16 22:28] vijkum261 opened #216 "No option to signOut without a UIViewController"
Hello Team,
Similar to authenticate method of OktaOidc why there is nothing for signOut without a `UIViewController`?
This allows to call okta apis without a UI dependency and helps to put custom sign-in and sign-out implementation.
Plus UIViewController has been replaced with View protocol in SwiftUI and current okta-oidc doesn't support Views.

[2020-04-17 11:00] cnfuzedRk62 opened #217 "Unable to get Response CallBack after Sign in iOS APP"
Hi team I used OktaBrowser sign in , in my iOS App, After all setup and configuration setup , I just created a project and working everything  fine. When I tried to hit signing okta function I am successfully opened login browser of okta after enter Valid credentials on hitting sign in button , That browser screen dismissed, After that no method will called , nothing will happening in my app, I am

[2020-04-17 16:39] IldarAbdullin-okta commented on #217
Hi @cnfuzedRk62 ,

Probably your `oktaOidc` has been deallocated. Please double check how you store your oidc instance. Is it assigned to strong property?

Ildar

[2020-04-17 17:21] IldarAbdullin-okta commented on #215
Hi @kirillyakimovich ,

Okta added custom modifications into AppAuth-iOS code, so it can't be used as a pod dependency.
Also this helps us to keep library Carthage compatible

Does that answer your question?

Ildar

[2020-04-18 10:42] kirillyakimovich commented on #215
Hi @IldarAbdullin-okta ,
Thank you for the response, actually now I have more questions:
What are these changes?
Why are they needed?
And (lent skip Carthage support for now)
Why not contributed to upstream?
Why not a fork?

[2020-04-20 05:38] cnfuzedRk62 commented on #217
Hi @IldarAbdullin-okta  thanks for your reply.
I am attaching the Exact code which is showing how I am calling its methods.So please review it & give me some soultion on it.

[code]

[2020-04-20 22:12] benv33 opened #218 "Missing @objc for OktaOidcStateManager writeToSecureStorage and readFromSecureStorage methods"
Hi,
I was following the doc to integrate the sdk  and tried to replicate the different steps in my Objective-C  project. I noticed that some methods are missing the @objc attribute for OktaOidcStateManager class to manage caching of session tokens:
writeToSecureStorage
readFromSecureStorage

Would you be able to add them?

Thanks

[2020-04-21 17:40] IldarAbdullin-okta commented on #218
Hi @benv33 ,

Thanks for pointing this out. Let us add `@objc` attribute for the storage functions. Thanks!

Ildar

[2020-04-21 19:32] benv33 commented on #218
Hi Ildar,

I tried version 3.6.0 that was released today and I have this errors when compiling:

_/Users/mTripDev2/Documents/mTripProject/Code/mTrip/mTripDev/Pods/OktaOidc/Okta/OktaOidc/iOS/OktaOidc+Browser.swift:71:23: Cannot override 'resume' which has been marked unavailable: Unused on iOS 11+_

_/Users/mTripDev2/Documents/mTripProject/Code/mTrip/mTripDev/Pods/OktaOidc/Okta/OktaOidc/Internal/iO

[2020-04-21 19:44] IldarAbdullin-okta commented on #218
Hi Ben,

Thanks for letting me know! Trying on different projects, don't see the issue. What iOS version your projects supports?
Probably I need to check with lower iOS versions

Ildar

[2020-04-21 19:46] benv33 commented on #218
I use latest Xcode and my deployment target is iOS 11.4

Ben

[2020-04-21 19:52] IldarAbdullin-okta commented on #218
Let me double check in pure obj-c project. Probably this could be the case!

[2020-04-21 20:42] IldarAbdullin-okta commented on #218
Reproduced compilation errors in obj-c project.

@benv33 , could you modify your podfile to work with the branch `origin/objc_fix` and let me know how it works for you. Branch also addresses your original issue

Ildar

[2020-04-21 21:34] benv33 commented on #218
@IldarAbdullin-okta, it's working, thanks!

[2020-04-21 21:37] IldarAbdullin-okta commented on #218
Thanks for checking! I will create new pod release shortly!

[2020-04-22 01:16] IldarAbdullin-okta commented on #218
OIDC 3.6.1 version has been released

[2020-04-22 01:16] #218 closed

[2020-04-22 01:25] IldarAbdullin-okta commented on #216
Hi @vijkum261 ,

Propagation of UIViewController is the requirement of underlying `AppAuth-iOS` SDK. We can't get rid of it. If you are interested in custom UI implementation and you use Okta endpoints for authentication then you can take a look at our AuthN SDK: https://github.com/okta/okta-auth-swift

Ildar

[2020-04-22 06:57] gao-sun opened #220 "Failed to compile the project: 'OIDAuthState.h' file not found"
okta-oidc-ios version: 3.6.1
Xcode version: 11.4

Use Carthage for package management

1. `carthage update` executed successfully
2. added framework files in both `input.xcfilelist`/`output.xcfilelist`
3. try to compile the project in Xcode, shows `'OIDAuthState.h' file not found` and `Failed to import bridging header 'project/Carthage/Checkouts/okta-oidc-ios/Okta/OktaOidc/OktaOidc.h'`

change ver

[2020-04-22 11:53] cnfuzedRk62 commented on #220
Hi @gao-sun  I am facing same issue with Xcode 11 with running ios 13 Swift 5. But in my case I am getting 'OIDAuthorizationService.h' file not found . I don't know how this can be resolved. Can anyone Know what is wrong with this.

[2020-04-22 11:59] cnfuzedRk62 opened #221 "Build failed when compiled it shows 'OIDAuthorizationService.h' file not found"
Hey team i am integrating sign in with okta in my ios App. I am using cocoa pods here is my full detail of all versions:-

Xcode 11.4
Swift 5
ios 13
. When I tried to compile the project it throws the error with **'OIDAuthorizationService.h' file not found**

error type:-

Lexical or Preprocessor Issue Group. in Okta framework. Please help me out from this
Thank you.

[2020-04-22 18:33] IldarAbdullin-okta commented on #220
Hi @gao-sun ,

Thanks for reporting this. Looks like OktaOidc umbrella file is not included into the framework after carthage build. However that works fine in the repo workspace. Let me take a look

Ildar

[2020-04-22 19:16] vijkum261 commented on #216
Why is it only needed for signOut? authenticate, resetPassword etc doesn't need it.
And, the customUI implementation doesn't have anything for signOut.

Also, is there any released planned for SwiftUI flavor too considering its going to take over UIKit.

[2020-04-22 22:12] IldarAbdullin-okta commented on #216
It is valid concern, however OIDC core uses `ASWebAuthenticationSession` class for browser based oidc flows. Sign-out uses `ASWebAuthenticationSession` as well, and `ASWebAuthenticationSession` requires presentation context.

Regarding SwiftUI, currently there are no plans to support SwiftUI for OIDC SDK

[2020-04-22 22:38] IldarAbdullin-okta commented on #214
Hi @afmsxpand ,

I think you definitely need to enable persistent cookies on Okta side. Then as a next step I would try to authenticate via [AuthN SDK](https://github.com/okta/okta-auth-swift), get session token and exchange it to access token view OIDC `authenticate` method. Then load a web view and check whether SSO works or not

Ildar

[2020-04-22 22:54] IldarAbdullin-okta commented on #213
Hi @superarts ,

I like your suggestion regarding splitting sources into sub-specs. However this looks as a cocoapods specific approach
On the other hand we relatively soon going to deprecate iOS versions below 11 and therefore we will remove all `openURL` related functionality

Ildar

[2020-04-22 23:13] IldarAbdullin-okta commented on #217
Hi @cnfuzedRk62 ,

Your code looks good to me. Could you try to play with [sample application](https://github.com/okta/samples-ios) and check whether it works for you?

Ildar

[2020-04-23 00:05] IldarAbdullin-okta commented on #217
Try also to set breakpoint in the callback function and trigger authentication session. Then tap on `Cancel` button and check whether breakpoint is triggered.

[2020-04-23 01:05] IldarAbdullin-okta commented on #215
- There are some Okta specific changes/fixes that doesn't make sense to contribute to OIDC Core
- Also we don't want to depend on AppAuth-iOS release process especially for urgent issues and new iOS releases
- AppAuth-iOS not forked because of Carthage and SPM(future)

Do you have any issues with the current library structure?

[2020-04-23 01:26] IldarAbdullin-okta commented on #208
It is most likely due to changes in the implementation of Okta's Sign In Widget. However you can reference to the UI tests in this repo which are always up to date: https://github.com/okta/okta-oidc-ios/blob/master/UITests/Okta_UITests.swift

Ildar

[2020-04-23 01:26] #208 closed

[2020-04-23 05:51] cnfuzedRk62 commented on #221
Hi @IldarAbdullin-okta  Thanks for the reply . Okay I will share my pod file with you. Actually i noticed the issue in my app I am using Sign in with google Sdk as well. And it is using AppAuth framework too, means when I install pods of Signin with google framework it automatically downloaded its dependency framework ie:- AppAuth framework. I think that my cause the error. Because when I removed

[2020-04-23 07:21] IldarAbdullin-okta commented on #220
@gao-sun , please clean carthage cache and try to build 3.6.1 again. It should work now. Thanks!

[2020-04-23 07:21] #220 closed

[2020-04-23 13:49] cnfuzedRk62 commented on #221
Hi @IldarAbdullin-okta  The issue has been Resolved.

I have to modify all the #header files from  #import "OIDAuthorizationService.h" to #import <OktaOidc/OIDAuthorizationService.h> worked to correct the issue.

But the okta-oidc framework should be bringing in AppAuth as a dependency (like GoogleSignIn), not copying the files.

This issue stuck my 2 days , it wired.

[2020-04-23 13:49] cnfuzedRk62 commented on #221
Hi @IldarAbdullin-okta  The issue has been Resolved.

I have to modify all the #header files from  #import "OIDAuthorizationService.h" to #import <OktaOidc/OIDAuthorizationService.h> worked to correct the issue.

But the okta-oidc framework should be bringing in AppAuth as a dependency (like GoogleSignIn), not copying the files.

This issue stuck my 2 days , it wired.

[2020-04-23 13:49] #221 closed

[2020-04-23 14:31] vijkum261 commented on #216
If okta is able to signIn without a presentation context, I would assume signOut can also happen the same way. Correct me if am wrong?
Maybe something for enhancement.

[2020-04-23 15:21] superarts commented on #213
Nice! That would be great! Any ETA for the new version, or any issues that we can link with our issue tracker please?

[2020-04-27 07:50] cnfuzedRk62 commented on #217
Hi @IldarAbdullin-okta  now issue is fixed. Thank you so much for giving your valuable time to me.

[2020-04-27 07:50] #217 closed

[2020-04-27 19:44] #215 closed

[2020-04-30 15:38] gao-sun commented on #220
Thank you for such quick response @IldarAbdullin-okta ! Your fix works.

@cnfuzedRk62 You may try to follow the same steps as Ildar suggested

[2020-05-06 06:21] jasmineelamblakatt opened #224 "OKTA browser SignIN -Sign Out shows incorrect system dialog"
I am integrating OKTA browser SignIN in my app.
For that
 am using oktaOidc?.signOutOfOkta function to Sign out the user, on calling the function it opens the dialog with the message as "App wants to Use "oktapreview.com" to Sign In "
and on continue it takes to the browser.
This message is misleading as the user wants to Logout but "Sign In" message is shown.
Is there any way to eliminate this di

[2020-05-06 19:25] IldarAbdullin-okta commented on #224
Hi @jasmineelamblakatt ,

Calling `signOutOfOkta` API is the only way to kill active OIDC session.
Regarding pop-up, please refer to the following issue - https://github.com/openid/AppAuth-iOS/issues/461
There is currently no way how fix/avoid that system level pop-up

Ildar

[2020-05-06 19:25] #224 closed

[2020-05-06 20:11] #214 closed

[2020-05-21 08:13] bdpdx commented on #186
Is this framework an official Okta product?  It seems ridiculous that a vendor would allow their product to go months and months without such a simple update.  When your product is included in an app with Xcode 11 it generates a warning that says "Conversion to Swift 5 is available."  We are diligent about removing both errors and warnings in our codebase but this one we can't get rid of because w

[2020-05-21 16:29] ajevans99 opened #225 "Swift Package Manager support"
Are there any plans to support Swift Package Manager?

https://swift.org/package-manager/#conceptual-overview

[2020-05-21 16:58] IldarAbdullin-okta commented on #186
Hi @bdpdx ,

There are certain versions requirements for the library - what minimal Swift version to support, what minimal deployment targets to support and etc. We can't immediately update Swift code base to latest as we want to give some time to developers to update their environment and code bases
In next release we will update Swift version requirement in podspec file to 5.0

Ildar

[2020-05-29 04:31] IldarAbdullin-okta commented on #225
Hi @ajevans99 ,

Thanks for creating this ticket. This library is a great candidate for SPM since there are no pod dependencies on 3rd party libs. So, yes, we would like to add support of SPM in near future

Thanks,
Ildar

[2020-05-29 04:50] IldarAbdullin-okta commented on #216
I see what you are saying. Probably we can keep track on type of sign-in(regular oidc sign-in vs okta's oidc extension) and clean cookies based on that. We can take this as an enhancement and investigate further. Thanks!

[2020-05-29 04:56] IldarAbdullin-okta commented on #213
@superarts ,
We can drop iOS11 support in June. Can you check whether any other additional work is required to help with your request?
You are also welcome to contribute, I can merge your changes and create release

[2020-05-29 22:31] superarts commented on #213
Sounds good! Since we already deployed a workaround by not making auth related calls in Today extension, we don't have any urgent needs anymore. But I'll forward your message to our framework team. Thank you!

[2020-05-29 23:33] seanvancity opened #226 "Support for Pre and Post request delegate functionality to support Shape"
Both Shape and Okta have SDKs that are opaque to us.

Okta has a standard SDK where we ask for something at a high level, and the requests are carried out behind the scenes.

Shape has an SDK where it wants to be given the low-level request object prior to it being sent, and be handed the response for further processing after it has been received.

In order to integrate Okta with Shape, we need to

[2020-06-22 11:01] tscholze opened #227 "Question: Does the SDK use a UIWebView or a WKWebView to signIn?"
Does the SDK use the deprecated `UIWebView` or the modern `WKWebView` to let the user sign into the app using the web form?

Apple will reject apps in the near future that are using the old web view control.

Thanks!

[2020-06-22 12:04] tscholze commented on #227
**FYI.**
It uses the SFSafariController :)

[2020-06-22 12:04] #227 closed

[2020-07-07 06:43] sam-w commented on #225
+1 to this please!

[2020-07-09 06:15] IldarAbdullin-okta commented on #226
Hi @seanvancity ,

There is a way to provide your custom URLSession implementation into the SDK. You have to do the following API call:
[code]
So by providing custom URL session and session delegate you are able to intercept different events from the HTTP stack. For example the following events are available:
[code]

As an additional example you can also take a look into `OktaOidcConfig.setupURLSe

[2020-07-09 21:43] IldarAbdullin-okta commented on #225
Created story ticket in our internal bug tracking system. We will do our best to implement this in August

[2020-07-10 21:09] IldarAbdullin-okta commented on #186
Swift version has been updated to 5.0 in 3.8.0 release

[2020-07-10 21:09] #186 closed

[2020-07-16 15:18] djalfirevic opened #231 "Value of type 'OktaOidc?' has no member 'resume'"
Hello,

Any particular reason why I'm getting this?I'm following steps from the `README.md` file.

[2020-07-16 16:31] IldarAbdullin-okta commented on #231
HI @djalfirevic ,

README has the following statement - `Redirect is needed if you want to support iOS 10 and older`. In 3.8.0 version we dropped support of iOS9 and iOS10. Do you still need to support them? If yes, you have to use version `3.7.0`

I will also update README and remove section about redirect as it causes confusion. Thanks!

Ildar

[2020-07-16 16:36] djalfirevic commented on #231
Thank you for your quick answer!

Now it's clear!

[2020-07-18 00:33] #231 closed

[2020-08-09 12:28] akhila-hariharan commented on #164
Hi,

This issue is still there in the latest SDK 3.8.2. Any pointers for the fix ?

[2020-08-19 13:46] awazny323 opened #235 "App Extension support"
Hi,
I have an App Extension where I fetch some data, but to make that API call, sometimes I need to renew AccessToken. Is there any way to use `OktaOidcStateManager` there, because when I add OKTA to App Extension target I get this error.

![Screen Shot 2020-08-19 at 9 40 33 AM](https://user-images.githubusercontent.com/69905302/90642737-c61eb500-e200-11ea-8c19-675f9f077bbe.png)

[2020-08-20 01:08] IldarAbdullin-okta commented on #164
@akhila-hariharan , could you explain what is the issue? Is it reproducible on iOS13 only? Could you check with our sample app as well (https://github.com/okta/samples-ios/tree/master/browser-sign-in)?

[2020-08-20 01:15] IldarAbdullin-okta commented on #235
Hi @awazny323 ,

This file is part of OIDC core. But I think we don't use this in our Swift implementation. Is it the only issue that blocks you to use SDK in App Ext? I think we can easily delete this file from SDK

Ildar

[2020-08-20 18:10] awazny323 commented on #235
There is one more place where that error occurs, it's in `OIDExternalUserAgentIOS` class

![Screen Shot 2020-08-20 at 2 06 18 PM](https://user-images.githubusercontent.com/69905302/90808981-d614c280-e2ee-11ea-9747-0e8b7ca7a53b.png)

[2020-09-07 20:25] lukenewman commented on #225
https://github.com/okta/okta-oidc-ios/pull/237

[2020-09-11 19:46] mraible opened #239 "README is missing "Sign In with your own UI" section"
The Android SDK has a [Sign in with your own UI](https://github.com/okta/okta-oidc-android#Sign-in-with-your-own-UI) section. This SDK does not. Please add one so we can link to it from our developer docs.

FWIW, a [custom sign-in sample](https://github.com/okta/samples-ios/tree/master/custom-sign-in) does exist so we just need the relevant code added.

[2020-09-11 19:50] IldarAbdullin-okta commented on #239
@mraible , for custom sign-in you have to use another SDK - https://github.com/okta/okta-auth-swift. We can add few words about custom sign-in and add a reference to AuthN SDK

[2020-09-11 19:55] mraible commented on #239
Here's [a link to the docs](https://github.com/okta/okta-developer-docs/pull/1438/files#diff-c4abcde8027340d72a5b78907a9be034R400-R408) I'm trying to update.

You can see I'm just trying to enhance the Sign-In Widget guide to say it's not embeddable in most native apps, but you can build your own login form with X - and then linking to the relevant docs for that.

What links would you recommend fo

[2020-09-11 20:00] IldarAbdullin-okta commented on #239
Please provide the link - https://github.com/okta/okta-auth-swift

I will also update OIDC SDK readme to transfer people to AuthN SDK if they want to build custom UI

[2020-09-18 00:51] ryanthon commented on #225
Any idea on when this will be pulled in?

[2020-09-18 00:52] EricDobyns commented on #225
^^

[2020-09-18 01:44] IldarAbdullin-okta commented on #225
On master. Tag: 3.9.1

[2020-09-18 16:41] EricDobyns opened #244 "Swift Package Manager - Issue with path to source files"
Package.swift does not match the latest swift conventions (Swift 4 & above). Need to update the package.swift file to include the path property pointed at the source files.

https://swift.org/blog/swift-package-manager-manifest-api-redesign/
https://stackoverflow.com/questions/46943952/error-could-not-find-targets-mylib-use-the-path-property-in-the-swift-4-m

<img width="733" alt="Screen Shot 2020

[2020-09-21 02:44] sam-w commented on #225
@IldarAbdullin-okta I think this issue needs to be re-opened. SwiftPM is definitely not working for me (on Xcode 12 GM). There's a lot more work to do in this repo than just adding the `Package.swift` file. (see this WIP PR: https://github.com/okta/okta-oidc-ios/pull/245)

What I see when trying to pull in `master` with SwiftPM.
<img width="741" alt="Screen Shot 2020-09-21 at 12 43 04 pm" src="htt

[2020-09-21 03:48] sam-w commented on #225
For anyone else following this thread and experiencing the same, see https://github.com/okta/okta-oidc-ios/pull/245 for a possible solution.

[2020-09-21 04:54] gao-sun commented on #244
tried to fork and update but got mixed language error, I think there'll be some refactor process.

[2020-09-21 04:55] gao-sun commented on #244
@IldarAbdullin-okta do you have any plan on this? we're migrating to SPM and got stuck on Okta libs

[2020-09-21 05:05] IldarAbdullin-okta commented on #225
I was too excited with the contribution that totally forgot to test it before merge, my bad. This project is multi-language and therefore require more complicated structure in `Package.swift`. On high level it should declare:
- Core library in Objective-C
- Swift part that uses Core as a dependency
This also require some restructure in files hierarchy as Swift wrapper also contains some Objective-

[2020-09-21 05:06] IldarAbdullin-okta commented on #226
Addressed in 3.9.1 release

[2020-09-21 05:06] #226 closed

[2020-09-21 05:10] IldarAbdullin-okta commented on #244
@EricDobyns , @gao-sun , I've reopened https://github.com/okta/okta-oidc-ios/issues/225
There is some additional work required to split Obj-C and Swift code, also need to think how to split platform code - iOS vs OSX

[2020-09-21 05:10] #244 closed

[2020-09-21 05:12] sam-w commented on #244
@EricDobyns @gao-sun see https://github.com/okta/okta-oidc-ios/pull/245 for some progress on this. Other contributions very welcome!

[2020-09-21 05:13] sam-w commented on #225
😂 fair enough @IldarAbdullin-okta. The PR I've opened doesn't get us all the way there, and I'm currently not able to spend any more time on this. Other contributions welcome

[2020-09-22 00:37] IldarAbdullin-okta commented on #225
I've brought this to the team's attention today. The decision was made that team will start looking into it next week!

[2020-09-22 17:34] chaitanya-neosoft opened #246 "OKTA clear method"
Why delete all keychain items we can delete the specific value for ClientID

[2020-09-23 16:34] IldarAbdullin-okta commented on #246
@chaitanya-neosoft , could you provide more details?

[2020-09-23 18:39] chaitanya-neosoft commented on #246
A clear() method of OKTA. Clearing complete keychain. Due to this, I am getting the error by generating the Firebase device token.
Basically My question is why to clear all keychain items? We can only clear the specific key of OKTA from the keychain.

[2020-09-25 00:53] IldarAbdullin-okta commented on #246
@chaitanya-neosoft , fully agree. This method clears all keychain items and it can be unexpected behavior by the app layer. I'm going to deprecate this API in next version, so developer should explicitly remove all OIDC records in the keychain. Thanks for reporting this!

[2020-10-08 07:29] ryanthon opened #247 "Check if user pressed cancel button?"
I've noticed that when using the OktaOidc.signInWithBrowser method, if the user cancels by pressing the cancel button, the error variable in the callback does not contain the error code of OIDErrorCodeUserCanceledAuthorizationFlow.

[code]

Instead, the error code is 0. Is there a reason for this? What is the proper method of checking if the error received is a result of the user canceling?

[2020-10-08 18:17] Shagans982 opened #248 "Xcode 12 Support"
When will there be support for Xcode 12?

[2020-10-08 20:02] #248 closed

[2020-10-08 20:07] robertjd commented on #248
CC @IldarAbdullin-okta

[2020-10-11 07:22] keiscool2468 commented on #221
@cnfuzedRk62 are you only modify "OIDAuthorizationService.h" instead of all "#import xxx.h"

[2020-10-11 07:22] keiscool2468 commented on #221
I am also facing this issue

[2020-10-11 08:03] keiscool2468 commented on #221
![image](https://user-images.githubusercontent.com/22214095/95673453-329faa00-0bdb-11eb-9c45-aafc7994e3fd.png)
i got this issue after this

[2020-10-16 16:28] jcgonlop commented on #225
Hey guys, could you give us an update on this issue? Is there any ETA when this will be fixed? We are currently working on migrating to SPM and this is kind of a blocker.

[2020-10-16 16:54] laughingMan commented on #247
Also experiencing this issue.  It would be nice to introduce some granularity to the error messages so we could better handle the errors displayed to the user.

Some sort of indication if this was the user's action that initiated the cancel.

[2020-10-16 20:40] IldarAbdullin-okta commented on #247
Hi @ryanthon , @laughingMan ,

Thanks for reporting this issue. Fully agree that we need to add explicit error code for cancellation scenario. Should be an easy change

Thanks,
Ildar

[2020-10-20 23:08] IldarAbdullin-okta commented on #225
Hi @jcgonlop ,

The decision was made to address SPM feature in November.
cc @lihaoli-okta

Ildar

[2020-10-30 09:43] OguzErtanAyanlarW opened #251 "Documentation for 'login' method is still missing"
On issue #75 and #90, it is suggested that there is an 'undocumented' login method that can be used to pass additional parameters to browser sign-in, an equilevant of Android OIDC SDK's 'AuthenticationPayload.Builder().addParameter("prompt", "login").build()' method.

However, there isnt any documentation for it, how can one use this method to launch Okta webAuth widget on signIn mode and pass par

[2020-10-30 10:44] Nonnus commented on #225
+1 for SPM support

[2020-10-30 16:42] RichiCoder1 opened #252 "Improve SignOut UX"
The unavoidable UX where a user has to consent to Sign Out is pretty confusing. However, with iOS 12 now there is apparently a work-around using the newly minted `ASWebAuthenticationSession` to handle Sign In and calling a normal `SFSafariViewController` to end the session.

Example of another app doing so: https://github.com/blockstack/blockstack-ios/pull/29

[2020-10-30 16:48] robertjd commented on #251
HI @OguzErtanAyanlarW , those issues are pretty old and probably leftover from the previous iteration of this library.  @IldarAbdullin-okta can you confirm if it's possible to pass these options through?  Let us know if this is new work to do.

[2020-10-30 19:32] IldarAbdullin-okta commented on #251
Hi @OguzErtanAyanlarW ,

In order to use custom claims you can do the following:
[code]

In November we want to add convenience method to pass custom claims in `signInWithBrowser` method without creating extra config object.
[code]

Ildar

[2020-10-30 20:10] OguzErtanAyanlarW commented on #251
Hi @IldarAbdullin-okta, thanks for the response. Sadly, passing the 'prompt':'login' parameter the way you suggested does not work on iOS SDK. (We are on Objective-C btw).

I guess I have to wait for the November release. Thanks for your replies.

[2020-10-30 23:21] IldarAbdullin-okta commented on #251
Hi @OguzErtanAyanlarW ,

I've just double checked that option in OIDC SDK and I see` login:prompt` key-pair in `authorize` call:

https://my.okta.org/oauth2/v1/authorize?state=5kQy3Me-nbilBUUWAzyL-uQb-ug7vPLzvTu4CMT5KWg&nonce=841eEacLWIlr0-V4NiTqdRq3V4D9vIhEZhVVjo7PaU8&response_type=code&code_challenge_method=S256&scope=openid&code_challenge=hmXAJm2eJRb89Z0jnNV4t4SRZBCJq6YCNkfmAghXBGg&redirect_uri

[2020-10-31 00:18] IldarAbdullin-okta commented on #251
Checked also with Okta IDP. Okta correctly handles `login=prompt` in the query

@OguzErtanAyanlarW , just in case, if you want to disable SSO for the session you have also the following option:
https://github.com/okta/okta-oidc-ios#disable-single-sign-on-for-the-authentication-session

[2020-10-31 00:22] IldarAbdullin-okta commented on #252
Hi @RichiCoder1 ,

Fully agree, `Sign Out` consent is very confusing. And thanks for the hint with workaround! We will check whether it makes sense to use `SFSafariViewController` to end the session

Ildar

[2020-11-05 08:11] OguzErtanAyanlarW commented on #251
We tried both methods again, it sadly didnt worked. Do you know the dates for the November release ? Today we received a release note mail, but this was not included on the release notes.

[2020-12-02 05:52] jasmineelamblakatt opened #256 "App not retaining the browser logout state through SSO."
Hello Team,
I was able to implement SSO in OKTA by enabling 'Persistent cookies', so after successful login in App and then after opening browser, it's in a logged-in state.
But once I logout from the browser and open App, App is still in a logged-in state.
I use the "introspect" method while launching the App, and it's showing the payload as active and through the Access token, it goes to the log

[2020-12-02 21:20] philiprenich opened #257 "SPM fails to resolve"
When trying to install the package via SPM I am receiving this error:

[code]

SPM support was just merged in yesterday (#254) so I'm expecting there's something simple I'm missing or my environment is slightly different. Looking at the repo, the files are definitely under that folder, so I'm not sure what XCode is whining about.

Any idea what's going on here or how to work around it?

[2020-12-02 22:31] mikenachbaur-okta commented on #257
SPM support has been merged into `master`, but hasn't been tagged as a release yet. Can you try changing to use the master branch to see if it resolves your issue?

Once we tag the release, the "Latest Version" option should work as expected.

![Screen Shot 2020-12-02 at 2 30 42 PM](https://user-images.githubusercontent.com/74688448/100939342-fa199f80-34aa-11eb-911a-e617fbda2466.png)

[2020-12-02 22:37] philiprenich commented on #257
Like I said, something simple I'm missing (or being dumb about 😬)
That works just fine, thank you!

[2020-12-02 22:37] #257 closed

[2020-12-03 00:25] mikenachbaur-okta commented on #257
@philiprenich I just published the [3.9.3 release](https://github.com/okta/okta-oidc-ios/releases/tag/3.9.3 ). You should be able to safely use the "Version" rule instead of master branch for SPM.

[2020-12-03 22:46] mikenachbaur-okta commented on #225
Swift Package Manager support was introduced in #254 and is available in the 3.9.3 release. If you have any problems with using SPM, please let us know.

[2020-12-04 03:00] seqmbuehl opened #260 "Can't log in with duo mobile app using device trust"
Hi team,

I am using oktaOidc.signInWithBrowser(...).  We integrate with duo for MFA and device trust.  https://duo.com/docs/trusted-endpoints-duo-mobile.

With device trust disabled, I can log in by choosing duo push or passcode.  All good.

With device trust enabled
1) I get passed the okta login screen
2) I get challenged.   I have to open the duo mobile app.
3) Duo mobile opens
4) I tap on the

[2020-12-08 07:49] jcislinsky commented on #252
Am I understand correctly, that this probably solve the issue with showing the alert: "App Wants to Use oktapreview.com to Sign In" during signOut?

<img width="471" alt="Screenshot_2020-03-26_at_18_37_13" src="https://user-images.githubusercontent.com/7204475/101454898-f619d180-3931-11eb-9b62-673db38e8df8.png">

[2020-12-08 17:31] RichiCoder1 commented on #252
Hopefully!

[2020-12-09 22:38] philiprenich opened #263 "Unable to log out of app"
I'm not sure if I am vastly misunderstanding how this SDK should be used or if there is a bug related to signing out of Okta.

Signing in successfully works like a charm, no worries. But when I use `oktaOidc.signOutOfOkta` (or `oktaOidc.signOut` with various options, including `.allOptions`) I am not locally signed out of the app. On a rebuild, I am required to sign in again which leads me to beli

[2020-12-10 18:03] Abbiee opened #264 "is it using SafarWebViewController or WKWebview for showing Okta login page?"
Can someone please tell which methodology it is using? Whether it is using SafarWebViewController or WKWebview?
[code]

[2020-12-17 04:51] philiprenich commented on #263
I've been able to achieve what I need - immediate UI updates based on the user being authenticated or not - by resetting the `authStateManager` in the completion handler of the first example or after the `.clear()` method in the second. As so:

[code]

I debugged some of the lower level functions and found the Keychain items indeed being deleted, so re-reading from secure storage will result in a

[2020-12-31 04:35] bdruth opened #266 "Custom sign-in only way to auth subsequent requests through Vouch proxy?"
I think I know the answer to this, but I just want to verify all the things, I guess.

I have a site protected behind [vouch proxy](https://github.com/vouch/vouch-proxy), like [here](https://developer.okta.com/blog/2018/08/28/nginx-auth-request). I have an iOS app based on the [browser-sign-in-and-biometric-storage](https://github.com/okta/samples-ios/tree/master/browser-sign-in-and-biometric-stor

[2021-01-04 17:45] Antoine4011 commented on #225
Hello @mikenachbaur-okta, unfortunately I think I still have an issue with the integration. We're using `OktaOidc` through an other Swift Package, not directly in the final app.

Everything builds fine but when launching the app :
[code]

The only fix we found so far is to generate an xcframework. That's the chose Stripe made, I wonder if this why. https://github.com/stripe/stripe-ios/releases/tag

[2021-01-04 23:46] mikenachbaur-okta commented on #225
Interesting @Antoine4011, would you be able to share which package it is that's pulling OktaOidc in as a dependency?  I'll try to reproduce that locally here to see what we can do to solve this.

Thank you

[2021-01-09 02:41] jasonwleong commented on #247
I've also experienced this issue. Can this also be handled properly in the OktaOidc.signOut method?

[2021-01-11 15:08] lander854 commented on #252
news on that?

[2021-02-04 00:50] jinahadam commented on #225
would love this, specially with the current state of Carthage.

[2021-02-04 15:48] trevorholliday opened #271 "Unable to save password in SFSafariWebViewController"
Users are not prompted to save their credentials to the KeyChain after a successful login.

[2021-02-04 16:06] oleggnidets-okta commented on #271
Thanks for reasonable input.
We need to investigate the issue in more details. (internal ref OKTA-367743)

Do you have disabled or enabled [noSSO](https://github.com/okta/okta-oidc-ios#disable-single-sign-on-for-the-authentication-session)? Please, provide a line of code (by default it is enabled).

[2021-02-04 16:11] trevorholliday commented on #271
noSSO is enabled.  (default not modified).

[2021-02-04 17:28] trevorholliday commented on #271
noSSO by default is false.

We have attempted to flip noSSO to true and we still are not presented with the prompt to save the credentials.

[2021-02-04 17:31] trevorholliday commented on #271
When we manually set noSSO to false we do see the prompt for saving the password but the SFSafriWebViewController is dismissed too quickly to select the option for saving.

[2021-02-05 08:56] oleggnidets-okta commented on #271
Thanks for update.
From first glance, it looks like an Apple bug.
Actually, if a device is running on iOS 13 and higher the authentication is done through `ASWebAuthenticationSession`.

`ASWebAuthenticationSession` does make redirect, therefore the screen is closed and save password prompt is dismissed quickly as you noticed.

Here some proof links:
* https://developer.apple.com/forums/thread/1279

[2021-02-11 15:12] andrewvanbeek-okta opened #272 "Apple Device Check"
Hi all, I was wondering if this SDK supports apple Device Check mentioned here: https://developer.apple.com/documentation/devicecheck.  If not are there any examples or integration patterns?

[2021-02-11 17:26] oleggnidets-okta commented on #272
Hi @andrewhamilton-okta ,
Good question as it is a part of security domain.
This is not something we support in our libraries neither oidc, neither [auth-swift](https://github.com/okta/okta-auth-swift).

[DeviceCheck](https://developer.apple.com/documentation/devicecheck) framework provides two services:
- Secure management of device state
- Establishing app’s Integrity

I guess you may be more in

[2021-02-11 17:46] andrewhamilton-okta commented on #272
Wrong person ;). @andrewvanbeek-okta ^^

[2021-02-11 17:48] oleggnidets-okta commented on #272
Oops, sorry @andrewhamilton-okta.

@andrewvanbeek-okta Please, take a look at my question above.

[2021-02-16 11:17] oleggnidets-okta commented on #272
@andrewvanbeek-okta App Attest is a way to perform security checks to define that the app is not compromised.

Okta as the Identity Provider asserts that authentication into the system is not compromised. One of the recommended way is using authorization [code flow with PKCE](https://developer.okta.com/docs/guides/implement-auth-code-pkce/overview/).

So I believe that app' assessing is up to user

[2021-02-18 21:45] wibs opened #274 "Crash when cancelling authentication session"
Our application crashes when a user cancels an authentication session after clearing Safari data while the session is still open. I have been able to reproduce this same crash consistently in the Example app provided here.

Steps to reproduce:
- Open the Okta OIDC Example app
- Click "Sign In With Browser"
- Click "Continue"
- In iOS settings, go to Safari -> "Clear History and Website Data"
- Swi

[2021-02-18 22:44] mikenachbaur-okta commented on #274
Thank you @wibs, those are great reproduction steps. I was able to see this locally, so we'll be looking into this. DO you have any indication as to how often this is happening in your app?

[2021-02-19 14:48] wibs commented on #274
We've had 12 occurrences from 12 different users in the last 90 days.  I'm not sure if my reproduction steps are the only way of causing this issue, but it's the only way I've been able to find so far.

Just as a note, I did a quick test manually setting up an ASWebAuthenticationSession and keeping a strong reference to that session and the crash doesn't seem to occur then.

[2021-02-19 17:14] GlebUstimenkoWMG opened #275 "Okta iOS SDK Data collection"
According to new Apple privacy rules we need to disclosure all data that our app collects and how we use it.

Does Okta iOS SDK collect any data and how they use it?

[2021-02-19 19:13] mikenachbaur-okta commented on #275
That's an excellent question @GlebUstimenkoWMG, I'll look into this and will get back to you.

[2021-02-19 19:46] mikenachbaur-okta commented on #275
@GlebUstimenkoWMG The SDK itself doesn't collect anything unusual about the user beyond what they supply as part of the authentication process. You might want to refer to the [Okta Privacy page](https://www.okta.com/privacy) to see more specific information.

[2021-02-19 19:49] GlebUstimenkoWMG commented on #275
@mikenachbaur-okta Thank you! Now it's clear!

[2021-02-19 19:59] #275 closed

[2021-02-26 00:22] danaronoff opened #276 "Can a custom authroization endpoint be specified similar to the Android SDK?"
The Android SDK allows configuring the client to redirect to a self hosted sign in widget by specifying a custom authorization URL:

[code]

Is there an equivalent mechanism to do that with the iOS SDK? Attempts to define a custom configuration property of `authorizationEndpoint `  do not make a difference.

[2021-02-26 10:32] oleggnidets-okta commented on #276
Hi @danaronoff,
Thanks for a good question. iOS SDK doesn't provide a way to set `authorization_endpoint`.
Configurations are loaded from `{issuer}/.well-known/openid-configuration` url. So the easiest way is changing a configuration file on the server by putting the desired `authorization_endpoint`.

Will it work for you?

[2021-02-26 12:21] danaronoff commented on #276
We are using Okta as our provider (of course), and I am pretty sure we cannot change that configuration on the Okta side - the authorization endpoint is fixed relative to the authorization server url. Is that incorrect?

And, I don't think with the way the SDK behaves we can self host a configuration file ourselves, since the issuer value is derived from the configuration url itself, right?

In ot

[2021-02-26 14:15] oleggnidets-okta commented on #276
Yes, you're right.

If it will be scope of one Authorization Server, then the tokens should be working. Otherwise, according to [docs](https://developer.okta.com/docs/concepts/auth-servers/), you can't mix tokens between different authorization servers. By design, authorization servers don't have trust relationships with each other.

If your business case is about migration to another issuer/domai

[2021-02-27 01:02] danaronoff commented on #276
The business case is the desire to self host a sign in widget but still use the Okta SDK for IOS. I will close this issue since this is not possible.

[2021-02-27 01:02] #276 closed

[2021-02-27 09:02] oleggnidets-okta commented on #276
@danaronoff If you'll have any questions/issues related to SDKs don't hesitate to open an issue. Thanks for reaching out!

[2021-03-05 06:21] shreyys opened #277 "End-user control of MFA prompts"
I have tried to configure End-user control of MFA prompts in the Okta, but the prompt factor still asks for MFA on every signin.
Does this feature work on the SDK?
https://help.okta.com/en/prod/Content/Topics/Security/policies/configure-signon-policies.htm#:~:text=Every%20Time%3A%20end%20users%20are,user%20MFA%20challenge%20dialog%20box.

[2021-03-05 08:47] oleggnidets-okta commented on #277
Hi @shreyys ,
Thanks for the question.
Yes, it should work. I was able to configure MFA per device and it asks for MFA once. Further sign-ins don't enroll MFA. If I change to `Every Time` then it requires MFA every time the user logs in.

If you would provide detailed steps to reproduce on our sample app it helped a lot.

1. Please, check out how `Sign on` rules are configured. Do you have per dev

[2021-03-05 12:02] shreyys commented on #277
We are not using browser instances in our app. The flow is completely native using apis.

We have an MFA Sign on policy which looks like this..
<img width="579" alt="Screenshot 2021-03-05 at 5 30 24 PM" src="https://user-images.githubusercontent.com/64061850/110113022-830ce380-7dd8-11eb-86d7-5671416d7267.png">

I'm getting AuthStatus as MFA_REQUIRED in my app

[2021-03-05 13:49] oleggnidets-okta commented on #277
I can confirm that the feature doesn't work on [OktaAuthNative](https://github.com/okta/okta-auth-swift). At least, a user doesn't have a control over it. We recorded the issue in our system, internal ref OKTA-376058.

btw, you reported the issue into OIDC repo (browser based sign in).

[2021-03-05 14:08] shreyys commented on #277
Oops...I choose the wrong tab. Thanks for the confirmation though :)

[2021-03-10 14:56] oleggnidets-okta commented on #274
Hi @wibs,
I reproduced the crash with the steps provided too.
I can see that the crash happens due to incorrect pointer handling in `SafariServices` framework.

When a user returns back to the app and the second alert is shown, you may notice that a presented view controller is showing one more time and the alert presents. On that step there's `SFBrowserRemoteViewController` is allocated and prese

[2021-03-11 08:59] oleggnidets-okta commented on #272
@andrewvanbeek-okta I close the issue as there's no response. I hope provided information is comprehensive.
Feel free to reopen it or create a new one.

[2021-03-11 08:59] #272 closed

[2021-03-11 22:29] wibs commented on #274
Ah okay thanks for the detailed breakdown and proposed workaround @oleggnidets-okta.  I'll look into if that is something that could work for our scenario.

[2021-03-11 22:29] #274 closed

[2021-03-12 10:10] oleggnidets-okta commented on #181
Another approach to avoid the alert is forking `okta-oidc-ios` repo and modify `OKTExternalUserAgentIOS`. Put `authenticationVC.prefersEphemeralWebBrowserSession = YES;` line in `presentExternalUserAgentRequest:session` method.

Be aware, the authentication session (cookies, browsing data) won't be shared with user browser. For more details, read [Apple' documentation](https://developer.apple.com/

[2021-03-18 07:52] jcislinsky commented on #252
Any update here?

[2021-03-18 09:37] oleggnidets-okta commented on #252
No updates on this. Making sign out via `SFSafariViewController` is not safe in our library. From abstraction point of view, these classes are not related.
Imagine if Apple changes this behavior and it stops working. For now it's just a workaround not a solution.

Consider [workarounds described](https://github.com/okta/okta-oidc-ios#ios-shows-permission-dialogapp-wants-to-use-auth-domain-to-sign-

[2021-03-19 16:10] fporcaro opened #278 "Access token signature being truncated"
When getting the access token from the OktaOidcStateManager, the signature portion of the jwt is being truncated.  If a token is requested through Postman with the same client details, the signature is the full length.

I can provide token examples as well as sample code if needed to to reproduce the problem.  We are using version 3.10.1

[2021-03-19 17:59] mikenachbaur-okta commented on #278
Thank you @fporcaro, this looks interesting. If you're able to provide an example or sample code, that would certainly help to narrow down the problem on my end. Either way I'll look into this shortly.

[2021-03-22 09:18] oleggnidets-okta commented on #271
@trevorholliday After additional research I find out that it's **Apple' issue** and we are not able to fix it. One way to fix is showing additional screen as described in [Password Autofill Details](https://authguidance.com/2020/02/22/ios-code-sample-overview/). But that's bad login experience for a user.

Nonetheless, we've released a new version of web widget, so it contains `autocomplete` set o

[2021-03-22 22:09] mikenachbaur-okta commented on #278
@fporcaro I'm not able to reproduce this locally; if you could provide some sample code, that would certainly help me find out where the issue is.

[2021-03-23 01:17] fporcaro commented on #278
Hey Mike, sorry I missed your earlier email.  I think it has something to
do with the access token being used from an OidcStateManager loaded from
the keychain.  I've seen it on and off for a few releases, but it is
difficult to pin down.  I'll see if I can put together a sample app that
replicates the problem.  If I remember correctly, it shows up when
installing a newer version of the applicatio

[2021-03-24 17:26] oleggnidets-okta commented on #264
Nice question.

Based on system version:
- iOS 9-10 - `SFSafariViewController`
- iOS 11 - `SFAuthenticationSession`
- iOS 12-latest version - `ASWebAuthenticationSession`

For technical details investigate [the method](https://github.com/okta/okta-oidc-ios/blob/80afc373adb3468d9eb4821e0c5fa16cafbca8de/Sources/AppAuth/iOS/OKTExternalUserAgentIOS.m#L78).

[2021-03-24 17:26] #264 closed

[2021-04-06 13:43] #252 closed

[2021-04-06 13:51] oleggnidets-okta commented on #256
Hi @jasmineelamblakatt,

Apologies for the late reply.

There’re two main reasons why a user can automatically sign in after logout:

1. There’s no way to clear all cookies and cache in `ASWebAuthenticationSession`. This component manages cache internally and shares it among different authorization sessions.

2. Okta doesn’t execute federated logout when a user signs out. Okta logs out from Okta'

[2021-04-06 14:51] oleggnidets-okta commented on #263
Hi @philiprenich,
Sorry for our late response.

Indeed, `userManager?.authState.isAuthorized` returns `true` after logout. According to documentation:

Therefore, you shouldn't rely on `isAuthorized` property after logout. Best way is using `introspect` to get know whether the Access Token is valid.

`OktaOidcStateManager` holds the state of an authorization session. So it's a good way to `clear`

[2021-04-06 19:51] programmarchy opened #285 "MFA authentication with sessionToken broken"
It does not seem possible to authenticate with MFA using `okta-auth-swift` and `okta-oidc-ios`.

I'm able to get a `sessionToken` after successfully verifying MFA with a passcode (using Google Authenticator), but then the subsequent call to `OktaOidc.authenticate(withSessionToken:)` fails with the following error:

[code]

To replicate these steps:

- Clone `https://github.com/okta/samples-ios/tre

[2021-04-06 20:13] laura-rodriguez commented on #285
Hi @programmarchy,

Thanks for your question! I'm going to assign this to someone on our team who can help with this library.

[2021-04-06 20:16] laura-rodriguez commented on #285
Internal ref: OKTA-385140

[2021-04-06 20:27] programmarchy commented on #285
@laura-rodriguez I have some additional information that may be helpful. Here's where the error is created:

![Screen Shot 2021-04-06 at 3 26 35 PM](https://user-images.githubusercontent.com/622192/113774173-89022700-96ec-11eb-8dd7-485a578f272d.png)

[2021-04-06 21:48] programmarchy commented on #285
@laura-rodriguez Another update --

If I delete my app-level MFA sign on rule, and leave only the org-level sign on rule, then things work as expected.

[2021-04-07 11:10] oleggnidets-okta commented on #285
@programmarchy What is defined in `Multifactor` -> `Factor Enrollment`. Have you added there some custom rule?

[2021-04-07 14:35] programmarchy commented on #285
@oleggnidets-okta I'm pretty sure I had set "Google Authenticator" to "Required" for enrollment, but I actually can't double check that currently because I managed to lock out all of my users (including admin) during testing.

[2021-04-07 14:51] oleggnidets-okta commented on #285
Never mind, I can reproduce the issue. Now I should bring up and discuss this issue to our team.

[2021-04-09 10:08] oleggnidets-okta commented on #285
Hi @programmarchy @bdruth,
I have discussed the issue with team and a guy who developed OktaAuthSdk.

Indeed, there's no way to intercept MFA challenge when you exchange `sessionToken`. OIDC does the silent exchange and this is the whole idea. If you want to handle MFA on app level then you should switch to SIW (sign-in widget) flow.

The solution is deleting app-level MFA sign-on rule and leave o

[2021-04-09 10:09] oleggnidets-okta commented on #263
Closing the issue. If you have any related questions feel free to reopen.

[2021-04-09 10:09] #263 closed

[2021-04-09 10:11] oleggnidets-okta commented on #278
Hi @fporcaro,
Any updates on that?

[2021-04-13 20:14] seanvancity opened #287 "OktaNetworkRequestCustomizationDelegate is not used for renew and load from cache"
When renewing a session or restoring one from a cold start of the application, the OktaNetworkRequestCustomizationDelegate is not properly assigned and therefore not calling the customizableURLRequest delegate function when attempting to re-auth a user.

Suggested fix from our developer:
Changing line 47 of OIDAuthState+Okta.swift from
`let authState = OKTAuthState(authorizationResponse: authRespo

[2021-04-13 21:29] arvindkrishnakumar-okta commented on #287
@seanvancity Thanks for posting!

@mikenachbaur-okta Can you help with this?

[2021-04-13 21:44] mikenachbaur-okta commented on #287
Thank you @seanvancity, that makes sense to me, thank you for bringing this to our attention! I agree, it seems like we should preserve the delegate in scenarios like this, so I'll check to see if there are other cases where we drop the delegate.

I can't find the AuthCredentials.swift file you reference though, so I can't find that line you mention.

[2021-04-13 21:47] seanvancity commented on #287
@mikenachbaur-okta - ah sorry, that's a reference to a credentials file in our code for restoring the state manager after a cold start - so we are looking for guidance there on how to handle that scenario while still including the delegate.

[2021-04-13 22:16] mikenachbaur-okta commented on #287
Hmm @seanvancity that's a good observation. I just read through the code some more, and you're right, there's no way to assign the requestCustomizationDelegate to the state manager explicitly, only through the OktaOidcConfig when authenticating, but not for the remainder of the token's lifecycle.

[2021-04-14 00:23] mikenachbaur-okta commented on #287
@seanvancity Please take a look at the pull request above, and see if it addresses your issue.

[2021-04-14 04:47] programmarchy commented on #285
@oleggnidets-okta Thanks. It would be helpful if the Okta documentation clearly explained this, and it seems like the Okta admin interface should disable or at least present the user a warning when adding an app-level MFA rule for OIDC providers.

[2021-04-15 03:21] seanvancity commented on #287
Looked like a promising PR assuming it solves both of the issues mentioned - is there an ETA on when this will be in the next CocoaPod Release?

[2021-04-15 03:25] mikenachbaur-okta commented on #287
I just released version 3.10.2 today that includes these changes, so let me know if it addresses your issues.

[2021-04-15 16:58] mikenachbaur-okta commented on #287
@seanvancity I'm going to close this issue out, but if you still have problems or encounter another area where the network request customization delegate is dropped, feel free to reopen it.

[2021-04-19 18:40] sjmadsen commented on #225
I'm having the same problem as @Antoine4011, where the app builds fine, but crashes at launch with the `@rpath` error. In our case, the package that's pulling in OktaOidc is an internal Swift package that holds common logic across two of our apps.

[2021-04-19 22:10] svdahlberg commented on #287
Hi @mikenachbaur-okta, I have tested this in our application and would like to reopen this issue. The delegate on OKTAuthState is still not set when trying to renew the token after initializing the OktaOidcStateManager by reading from secure storage.

This is what we are doing: On a cold start of the app we restore the OktaOidcStateManager by calling `OktaOidcStateManager.readFromSecureStorage(for

[2021-04-19 23:24] mikenachbaur-okta commented on #287
Thank you @svdahlberg and @seanvancity, this gives me a nicer concrete set of steps to follow through. I'll check this again and will ensure this particular code flow preserves the delegate.

[2021-04-23 10:36] shreyys opened #291 "Auth code from oidc-sdk"
Our app uses native flow and uses oidc's authenticate() to fetch tokens directly.
But there is no method to provide authcode without using a browser.
Can you help me out here?

We need auth code for alexa skill linking from our iOS app

[2021-04-23 12:11] oleggnidets-okta commented on #291
Hi @shreyys,
Thanks for using Okta. I am not sure that I understand you correctly.
If you want to get the authorization code, you can use the `authState` property: `stateManager?.authState.lastAuthorizationResponse.authorizationCode`. Hope it helps. State manager is returned in [callback](https://github.com/okta/samples-ios/blob/eae143a97b571184855bf7eaf07970990d0ab96a/custom-sign-in/OktaNativeLog

[2021-04-24 00:04] mikenachbaur-okta commented on #287
I wanted to provide an update here; ultimately the problem is that NSCoder, and NSKeyedUnarchiver, don't provide any facilities to pass along additional contextual data during the unarchiving process like Swift Codable does, so there's no intuitive way to supply the delegate at that time.

I'm investigating some options to allow the delegate to be updated, without adding risk by exposing the deleg

[2021-04-26 07:01] shreyys commented on #291
The auth code returned from `stateManager?.authState.lastAuthorizationResponse.authorizationCode` is already used. The Authcode required by alexa skill linking should be new.
 I'm calling the below Alexa API, and it needs fresh auth code.

[code]

Is there any API in the SDK that can generate fresh Auth Code

[2021-04-26 07:47] oleggnidets-okta commented on #291
The authorization code itself is obtained from the authorization server. It's not being generated by app.
I'm not sure about a proper way of linking Alexa because it feels like out of the SDK scope.

Feel free to contact our [support team](support.okta.com/) to help you with set up. Also, consider [the Okta tutorial](https://developer.okta.com/blog/2019/03/20/linking-your-alexa-skils-securely) and

[2021-04-26 07:50] oleggnidets-okta commented on #256
Closing the issue as answered. Feel free to reopen or create new one.

[2021-04-26 07:50] #256 closed

[2021-04-26 07:58] shreyys commented on #291
The 'OKTAuthorizationRequest' resides in the SDK and it's doing exactly what we are looking for but its scope is internal.
[The Auth code generation with PKCE](https://developer.okta.com/docs/guides/implement-auth-code-pkce/use-flow/)
The structure and implementation look like it's used to generate auth code to get session token.

Is there any way we can use it?

[2021-04-26 08:17] oleggnidets-okta commented on #291
Authorization code is not the same as PKCE. PKCE Authorization Code Flow builds upon Authorization Code Flow.

PKCE is generated by app but it's assures that an attacker can only intercept the Authorization Code, and they cannot exchange it for a token without the Code Verifier (PKCE).

[2021-04-26 08:32] shreyys commented on #291
I understand the Authorization Code flow.
Here is the issue, we need to have a native auth 2.0 flow in our app and that's why we choose Okta.
But now, we have to link alexa skill from our app and it requires auth code.

We get the auth code using the below URL
`<okta-domain>/oauth2/auseepg9sCHp8o3l81d6/v1/authorize?client_id=<clientID>&response_type=code&scope=openid%20offline_access&redirect_uri=

[2021-04-26 09:38] oleggnidets-okta commented on #291
@shreyys Authorization Code is granted to the app by Authorization Server (OKTA). If you say that you need to pass it to Alexa, then, probably, you're doing something wrong, because that's not a way OAuth work.

The Authorization Server can be Okta. In this case authorization code is returned to the client (Alexa app).

![diagram](https://user-images.githubusercontent.com/77254185/116061097-240675

[2021-04-26 10:23] shreyys commented on #291
@olegandreyev-okta  It is how OAuth works with Alexa, the API expects the auth code from Okta. And Auth code cannot be generated without user's credentials.
Help me understand, what is this used for?
Coz, I feel this is the code we need.

[code]

**OKTAuthState.getState()** method has authentication code request.

[code]

[2021-04-26 11:40] oleggnidets-okta commented on #291
@shreyys
Method `authenticateWithSessionToken`
`downloadOidcConfiguration` - downloads configuration from `.well-known/openid-configuration` file.
Sets up request, generating PKCE values (note, `codeVerifier` and `codeChallenge` **is not** Auth Code).

Method `getState`
Sends the request with PKCE values, session token to get `Auth Code`.
Exchanges `Auth Code` for tokens.
`tokenResponse` contains

[2021-04-26 12:42] shreyys commented on #291
That's all i need. I just want this auth code from the SDK.

The steps are defined in the URL.
[Alexa App linking](https://developer.amazon.com/en-US/docs/alexa/account-linking/app-to-app-account-linking-starting-from-your-app.html#step-1)

To get the auth code from OKTA, I'm using below URL on webview instance.
https://${yourOktaDomain}/oauth2/default/v1/authorize?client_id=0oabucvy
c38HLL1ef0h7&

[2021-04-26 17:19] #225 closed

[2021-04-27 07:23] oleggnidets-okta commented on #291
Hi @shreyys,
I raised your issue to the team. We strongly believe that Auth Code mustn't be shared and exposed in the SDK' public API.
As I said above, make sure that your flow is correct, because Okta as Authorization Server authenticates the user and gives the Access Token. It's not responsibility of Alexa in your case.

If you believe you still need Auth Token, you may fork the repo and make th

[2021-04-28 09:48] oleggnidets-okta commented on #291
I close the issue. @shreyys If you have any questions or problems, feel free to open a new issue or contact [our support team](support.okta.com/).
Thanks for using Okta 🙌

[2021-04-28 09:48] #291 closed

[2021-04-29 18:27] svdahlberg commented on #287
Any updates on this? @mikenachbaur-okta

[2021-04-30 08:15] oleggnidets-okta commented on #278
@fporcaro I close the issue as no updates on that for a long time.
Please, feel free to reopen it if you still have the issue.

Thanks for using Okta!

[2021-04-30 08:15] #278 closed

[2021-05-03 14:59] sjmadsen commented on #225
Thanks for fixing this in `master`. It looks like the 3.10.2 release tag added last week excludes that commit. Was that intentional and do we need to wait for 3.10.3?

[2021-05-04 00:16] mikenachbaur-okta commented on #287
@svdahlberg I'm coordinating with our engineering team on triaging this issue, so we'll make sure to respond here when we know more.

[2021-05-04 20:19] PAronofsky opened #292 "Session Cookie Redirect Links"
Hi, our organization's Access Management team has an Okta login page that uses a session cookie redirect link to set a cookie with some custom styles before launching the OIDC workflow. Is there a way to handle this with the iOS library?
https://developer.okta.com/docs/guides/session-cookie/overview/#retrieving-a-session-cookie-by-visiting-a-session-redirect-link

Our flow
`<domain>/setLoginContex

[2021-05-04 22:27] aarongranick-okta commented on #292
@PAronofsky Thank you for the question. As I understand it, this workflow is supported. Your iOS application can open a web view or launch an external browser to show the custom okta login page. The redirect uri in this case will likely be using an app uri, like `myapp://login/callback`. Your app can handle this callback on the redirect from Okta: https://developer.okta.com/docs/guides/sign-into-m

[2021-05-05 07:46] oleggnidets-okta commented on #225
@sjmadsen The issue was closed automatically by GitHub when the PR has been closed.
We'll release the update soon.

[2021-05-05 12:41] PAronofsky commented on #292
So, does this mean we should not use the library? Maybe I'm using the wrong terminology. We need to go to `<setCookieDomain>/setLoginContext?uxmode={"signuplink":{"hidden":true}}&redirect_uri=<oktaDiscoveryUri+ParamsGeneratedByOktaLibrary>` as described in the session cookie redirect link.

Or are you suggesting going opening a browser to go to the `setCookieDomain`, redirect back to our app, and

[2021-05-06 01:06] aarongranick-okta commented on #292
@PAronofsky In general we recommend using OIDC flow over the session token. That being said, I think your custom login page could pass the sessionToken directly to your native application (using a custom app URI, for example: `myapp://login-with-session-token?sessionToken=XXXX`. Then your app should be able to use the sessionToken to authenticate: https://github.com/okta/okta-oidc-ios#authenticate

[2021-05-06 10:30] oleggnidets-okta commented on #225
@sjmadsen Please, check out the [3.10.3](https://github.com/okta/okta-oidc-ios/releases/tag/3.10.3).

[2021-05-13 16:54] harkmall opened #294 "iOS 14.5 ASWebAuthenticationSession retaining user session"
I have noticed an issue beginning in iOS 14.5 where the `ASWebAuthenticationSession` will retain a log-in session when the same implementation in 14.4 and earlier will not.

Note that we are currently **not** signing the user out of the Okta browser session due to the UX "issues" described here: https://github.com/okta/okta-oidc-ios/issues/252

Has something changed in 14.5? Is anyone else is expe

[2021-05-13 18:28] bryanapellanes-okta commented on #294
@harkmall,
Thanks for reaching out!  I'll bring this to the attention of our iOS developers, and someone will comment here with more.

Thanks for using Okta!

[2021-05-13 18:30] bryanapellanes-okta commented on #294
Internal Ref: OKTA-395477

[2021-05-13 18:47] sergeyprybysh commented on #294
I was about to open the same issue. Following this one.

[2021-05-20 03:17] p1xel commented on #294
Adding the following line to the code block below (in OKTExternalUserAgentIOS.m) fixes the issue:

`authenticationVC.prefersEphemeralWebBrowserSession = YES;`

[code]

This line is already present in OKTExternalUserAgentNoSsoIOS.m, which is why the 'no SSO' case works.

[2021-05-26 00:55] apersaud opened #295 "[PKCE] How to set authentication state from accessToken and refreshToken"
I’m using the OktaOidc (v3.10.2) and OktaAuthNative (v2.4.2) SDKs on iOS to login a user through an SSO flow (PKCE). Our SSO process has the backend performing the authentication and providing the final accessToken and refreshToken for the clients to use.

The only two APIs available for us on the iOS SDK seems to be `OktaAuthSdk.authenticate(with: url, username: username, password: password)` and

[2021-05-26 11:06] oleggnidets-okta commented on #295
Hey @apersaud,
Your question needs us some time to research. I created internal ticket OKTA-399154 for that purpose.

In general, you cannot set access or refresh token on your behalf in our SDK. I think the case you described is not how it should work. Because Okta as Identity Provider generates access and refresh tokens. You may reach out [support team](https://support.okta.com) according to cor

[2021-05-27 07:02] oleggnidets-okta commented on #287
Hi guys,
Please, check out the latest version 3.10.4. It has the public delegate. Let us know whether it fits your needs. Feel free to reopen the issue.
Thanks

[2021-05-27 07:02] #287 closed

[2021-05-27 07:08] Gitthatbug commented on #287
I just regained access to a hacked account... And both my iphone se2 and android lg lmk 500 were hacked through the github platform... Using management  

Sent from Yahoo Mail on Android

  On Thu, May 27, 2021 at 3:02 AM, Oleg ***@***.***> wrote:

Closed #287.

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-01 15:36] harkmall commented on #294
Any updates here @oleggnidets-okta ?

[2021-06-17 13:03] oleggnidets-okta commented on #294
Hey @harkmall,
My apologies for the late reply.
I'm testing the issue and can reproduce that. From my perspective, it's expected and correct behavior of `ASWebAuthenticationSession` in iOS 14.5. Let's refer to documentation.

[Ref.](https://developer.apple.com/documentation/authenticationservices/authenticating_a_user_through_a_web_service?language=objc)

If `prefersEphemeralWebBrowserSession = fa

[2021-06-18 11:46] oleggnidets-okta commented on #295
Hi @apersaud,
I analyzed your feature and here is my conclusion based on [description](https://devforum.okta.com/t/ios-sdk-pkce-how-to-set-authentication-state-from-accesstoken-and-refreshtoken/14403/3) you provided.

Your backed stands as **Client Application**, so it receives the _Access Token_ and _Refresh Token_. Your native iOS app becomes **Resource Owner**. **Resourse Owner** doesn't posses

[2021-06-18 11:46] #295 closed

[2021-06-21 18:35] harkmall commented on #294
Thanks for looking into that @oleggnidets-okta. Looks like we'll have to enable `noSSO`.

[2021-06-21 18:35] #294 closed

[2021-06-29 17:41] PAronofsky commented on #292
I don't think we're on the same page, sorry for the almost 2 month delay, we ended up getting busy, and I wanted to dig into the code and try a couple approaches before submitting a PR.

I have one here to demonstrate what we're trying to accomplish. Not getting a "session token" but setting a "session cookie" before opening the login page.
https://github.com/okta/okta-oidc-ios/pull/298

[2021-06-30 13:09] oleggnidets-okta commented on #247
Hi huys,
I close the issue as it must be resolved now. There's an error returned, it's type is `OktaOidcError`. So the code above looks like this now:

[code]

[2021-06-30 13:09] #247 closed

[2021-06-30 13:17] oleggnidets-okta commented on #251
Hi @OguzErtanAyanlarW,
From my understanding, `prompt=login` is equal to `noSSO` [parameter](https://github.com/okta/okta-oidc-ios#disable-single-sign-on-for-the-authentication-session). If the parameter enabled, then the login page is shown despite of stored cache.

I close the issue for now. If you believe it's not enough, please, re-open.
Thanks for using Okta!

[2021-06-30 13:17] #251 closed

[2021-07-07 15:55] oleggnidets-okta commented on #216
Hey @vijkum261,
Sorry for late response but better late than never :)

Sign out from Okta works similar to sign in, because it opens `ASWebAuthenticationSession` screen. In that screen, iOS ends a session and signs out the user from Okta, clears cookies. There's no way to clear the sessions/cookies outside of `ASWebAuthenticationSession`. That's the reason why the parameter `presenter` is required

[2021-07-13 14:10] kc-bandari opened #299 "Logged in automatically with old user after deleting and reinstalling the iOS application."
Deleted the application without logging out from okta. After reinstalling the application and trying to log in, the login page displayed for split second, and the user has logged in automatically without entering any user details.

Tried to revoke the token from the keychain.
Cleared all tokens from the keychain.
The issue is still reproducible.

If the user is logged out before deleting the appli

[2021-07-13 14:24] oleggnidets-okta commented on #299
Hi @kc-bandari,
Thanks for the issue!

At first glance, the issue relates to native `ASWebAuthenticationSession`. We use that component to manage sign in/sign out. Unfortunately, there's no access to manage the component, we cannot remove cache or cookies.

Anyway, I reported internal issue to investigate it. OKTA-411478

[2021-07-19 07:40] munkledata opened #301 "okta-oidc fails to build on M1 mac."
I have a react native app that builds fine on our intel macs, I'm testing out an m1 mac and our app is failing to build with this error:

debug       @objc OktaOidc.OktaOidc.init(configuration: OktaOidc.OktaOidcConfig?) throws -> OktaOidc.OktaOidc in libOktaOidc.a(OktaOidc.o)
      reabstraction thunk helper from @escaping @callee_unowned @convention(block) (@unowned OktaOidc.OktaOidcStateManager?

[2021-07-19 07:57] oleggnidets-okta commented on #301
Hi @munkledata
Unfortunately, I have no possibility to check a build on M1.
In overall, I guess that's not library related issue, but project (environment) setup.

I see some workarounds proposed in React Native repo [here](https://github.com/facebook/react-native/issues/31118#issuecomment-811881922) and [here](https://github.com/react-native-community/discussions-and-proposals/issues/295). Also,

[2021-07-19 10:44] peter-chan-hkmci opened #302 "Persistent SSO in WKWebView or SFSafariViewController"
Dear all,

I have integrated the sdk and enabled persistent sso in okta.
Safari and the native app are able to share the same authentication session.

However, the authentication session cannot be detected when the app open an embedded web view to access the other webapp registered in okta.

I have tried WKWebView and SFSafariViewController, no luck due to the isolated cookies between apps and saf

[2021-07-19 11:32] oleggnidets-okta commented on #302
Hello @peter-chan-hkmci!

Thanks for using Okta and asking for help!
Could you, please, explain in more details the following statement? What do you mean by the native app?

Have you tried `ASWebAuthenticationSession`? It's recommended to authenticate the users through this component.

[2021-07-19 12:21] peter-chan-hkmci commented on #302
Thanks for replying!

After I login to Okta by using this okta-oidc sdk with ```signInWithBrowser``` function, I can access to ```https://{okta-domain}/app/UserHome``` in Safari without login.

However, for example, I would like to access another okta app (web app), like ```https://{okta-domain}/app/UserHome```, in the ios app by using the embedded web view (like WKWebView or SFSafariViewControlle

[2021-07-20 11:16] oleggnidets-okta commented on #299
I was looking for a way to avoid this behavior but nothing seems working.
Authentication session is managed by `ASWebAuthenticationSession`.

For some reason it stores a session even after deleting the app. There's no way to clear the session manually except going to `Settings` -> `Safari` -> `Clear History and Website Data`.
As a suggestion you may use [`noSSO`](https://github.com/okta/okta-oidc-

[2021-07-20 11:25] oleggnidets-okta commented on #302
Thanks for super helpful info provided!

I recorded internal task to investigate your case, ref. OKTA-413876.

[2021-07-20 15:36] peter-chan-hkmci commented on #302
Thanks!

Is it possible that save the session cookies after login successfully by using ```ASWebAuthenticationSession```, then have a new function that get the session cookies for ```WKWebView``` and ```SFSafariViewController```?

[2021-07-21 15:04] oleggnidets-okta commented on #302
So far what I can see there's no way to share cookies, authorization sessions or anything else between these two browsers.
Apple doesn't bring any API to make it possible. I think it's because of security reasons.

[2021-07-22 21:58] munkledata commented on #301
I was able to successfully build by following the suggestions in this post: https://github.com/facebook/react-native/issues/31118#issuecomment-867292214

and this post: https://github.com/facebook/react-native/issues/31118#issuecomment-811881922

my understanding would be that I am now running the simulators code in rosetta because its building x86 instead of arm64?

[2021-07-23 12:00] oleggnidets-okta commented on #301
Yes, I believe you're right. We should migrate to xcframework to make it possible to support Apple Silicon arch. I created internal task for our team, OKTA-414819.

I close this issue for now as it seems fixed.

Many thanks for your input and feedback!

[2021-07-27 04:17] kc-bandari commented on #299
Thank you for the response.

I tried using `authenticationVC.prefersEphemeralWebBrowserSession = YES;` and `noSSO`.
Which is worked as expected. But `remember me`  fails to populate `email` after `logout`.

It seems to remember me is handled by `ASWebAuthenticationSession `

[2021-07-27 08:05] oleggnidets-okta commented on #299
Hi @kc-bandari,
You're right - functionality is handled by `ASWebAuthenticationSession`. But you can pass `login_hint` configuration parameter, as [described here](https://github.com/okta/okta-oidc-ios#configuration-object).

[2021-07-27 09:03] kc-bandari commented on #299
@oleggnidets-okta Thank you, that helped me. Could you please provide the documented link, what additional params I can add to the configuration?

[2021-07-27 11:22] oleggnidets-okta commented on #299
You can find [parameters here](https://developer.okta.com/docs/reference/api/oidc/#request-parameters).
You may consider to use `"prompt": "login"` instead of `noSSO` option. It always shows the login screen but respects remember me functionality.

I hope it helps just test how it works in your case.

[2021-07-27 13:29] kc-bandari commented on #299
@oleggnidets-okta Thank you for the solution. This helped me a lot.
One last question, Can we disable the alert before login?

![Alert](https://user-images.githubusercontent.com/68754019/127161981-f7e1edd1-0e36-480e-9ca7-126164744ec1.png)

[2021-07-27 14:03] oleggnidets-okta commented on #299
@kc-bandari Only one way to avoid this alert is using `noSSO = true`.
We know that is annoying alert 😞 Unfortunately, we cannot do nothing because it's managed by Apple' `ASWebAuthenticationSession`.

Related issue in AppAuth library [#456](https://github.com/openid/AppAuth-iOS/issues/456).

[2021-07-28 13:43] richardpiazza commented on #235
Looks like this is an issue while using the swift package via the Xcode 13 betas. The framework fails to build. Has there been any movement on addressing this?

[2021-07-28 13:58] oleggnidets-okta commented on #235
Hey @richardpiazza
We have recorded issue in our tracking system, OKTA-415860. Unfortunate, no progress for now.
But I believe we'll take the task in progress soon.

[2021-07-30 07:39] kc-bandari commented on #299
@oleggnidets-okta Thank you... Helped me a lot.

Shall I close this issue or keep it open?

[2021-07-30 07:57] oleggnidets-okta commented on #299
@kc-bandari You're welcome!
I close the issue. If you have any issue or question, feel free to open a new issue.

Thanks for using Okta!

[2021-07-30 07:57] #299 closed

[2021-07-30 13:17] richardpiazza commented on #235
Digging a bit further into this. Looks like Xcode 13 Beta 13 changed some linking behavior (https://twitter.com/twannl/status/1415643870512226307) and packages now need to explicitly mark some api as unavailable for app extensions.

![E6VgHpfXIAEJoIG](https://user-images.githubusercontent.com/1744463/127658524-95f988bb-578c-4040-9d5e-56363a2b8a4a.jpeg)

[2021-08-03 11:29] #216 closed

[2021-08-03 11:36] oleggnidets-okta commented on #266
Hey @bdruth ,
Sorry for late response.

I'm not sure we can reproduce your scenario as it requires complex setup. Could you please more specific what is required from iOS SDK? Would `OktaNetworkRequestCustomizationDelegate` help you?

In case your question is mostly related to web widget you may contact [our support team](https://support.okta.com/help/s/?language=en_US).

[2021-08-05 15:48] govindprasadgupta opened #308 "Not able to see Okta login page"
I have upgraded Xcode to 12.5.
After voce up-gradation, I am not able to see login page.

Simulator: iPad Pro 14.5,

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/2104937/128380389-ae8646c6-a228-4a5f-bfa4-b64b9bb05829.png)

[2021-08-05 17:36] arvindkrishnakumar-okta commented on #308
@govindprasadgupta Thanks for posting!

I'll have someone from my team take a look at this.

[2021-08-06 08:47] oleggnidets-okta commented on #308
Hi @govindprasadgupta,
First of all thanks for reporting!

I cannot reproduce it in Simulator, your org is shown for me in browser.
Does it open in sample app or in your app using OIDC SDK? Because I see you open it in browser Safari.

I believe issue is not related to upgrade or OIDC SDK. Probably, it's a web issue related to preview state of your Org.

![Simulator Screen Shot - iPad Pro (9 7-inc

[2021-08-10 08:35] #239 closed

[2021-08-10 08:37] oleggnidets-okta commented on #235
Hey @richardpiazza @awazny323
We've released a new version [3.10.6](https://github.com/okta/okta-oidc-ios/releases/tag/3.10.6).

Let us know whether it works for you. Feel free to reopen the issue.

Thanks!

[2021-08-10 08:37] #235 closed

[2021-08-10 08:38] oleggnidets-okta commented on #213
We've released a new version with fixed app extension support [3.10.6](https://github.com/okta/okta-oidc-ios/releases/tag/3.10.6).

The issue should be fixed. Otherwise, feel free to reopen it.

Thank you for using Okta!

[2021-08-10 08:38] #213 closed

[2021-08-12 13:56] oleggnidets-okta commented on #308
@govindprasadgupta Any updates?

[2021-08-12 14:04] #302 closed

[2021-08-12 14:04] #271 closed

[2021-09-14 11:58] jasmineelamblakatt opened #312 "iOS OKTA browser-sign-in login page is not localised."
OKTA browser-sign-in page doesn't get localized with the default locale of the device.
What needs to be added to localize OKTA browser-sign-in page.

[2021-09-17 07:32] oleggnidets-okta commented on #246
We've deprecated `clear` method. Please use `removeFromSecureStorage`.
Feel free to reach us out with any questions.

Thanks for contribution!

[2021-09-17 07:32] #246 closed

[2021-09-17 07:39] oleggnidets-okta commented on #312
Hi @jasmineelamblakatt ,
Sorry for late response. I've tried to reproduce the issue but it seems to be localized for me.

What language do you have set?

[2021-09-21 05:04] jasmineelamblakatt commented on #312
Hello Team,

We are using the default safari browser for OKTA sign-in flow. Also, the
safari(browser) language is changed, but the OKTA login page is still in
English, please check the attached screenshots for clarity.

This method of OktaOidc iOS SDK is used to open OKTA browser Sign-in page

oktaOidc?.signInWithBrowser()

[image: image.png]

Thanks & Regards,

Jasmine

On Fri, Sep 17, 2021 at 1:

[2021-09-23 09:07] oleggnidets-okta commented on #312
Hi @jasmineelamblakatt
Seems like screenshot isn't attached correctly. Please, share it one more time.
What's your desired language?

[2021-09-27 08:12] oleggnidets-okta commented on #312
I created internal ticket in tracking system, OKTA-431564. I believe I'll have a chance to take it this week.

[2021-09-27 09:13] jasmineelamblakatt commented on #312
Hello Team,

I changed the system language entire phone locale was changed, but OKTA
login page was not translated.
Even Safari is localized properly.
In the screenshot, I have set the system locale to German.

Thanks & Regards,
Jasmine

On Fri, Sep 17, 2021 at 1:09 PM Oleg Gnidets ***@***.***>
wrote:

[2021-09-28 13:32] oleggnidets-okta commented on #266
Close as no response. Please, reopen with more details if it's still valid.
Thanks for using Okta!

[2021-09-28 13:32] #266 closed

[2021-10-06 17:39] jhiat00 opened #317 "Add Support for Anchor Tag"
Our team's login form has a "Forgot Password" link on it. When called with a specified anchor tag the form will take the user straight to the Password Reset workflow.

For example: https://login.myapp.com/oauth2/v1/authorize?client_id=foo&redirect_uri=https://myapp.foobar.com/authorize?response_type=code&scope=openid&state=foobar#signin/forgot-password

Using the SDK APIs I cannot figure out how t

[2021-10-06 20:09] laura-rodriguez commented on #317
Thanks for your question @jhiat00! Our team will review it shortly and post updates here.

[2021-10-07 16:33] mikenachbaur-okta commented on #317
Thank you @jhiat00. If your team is unable to implement this, please feel free to reopen this issue and we can see what we can do.

[2021-10-21 04:57] ahujamanish commented on #285
@programmarchy I'm facing a similar issue. I don't see I've any app-level rule added, but I might be wrong. Can you help me understand how to add an org-level rule and remove any app-level rules? Thanks.

[2021-11-09 19:42] richardpiazza opened #319 "No Browser Presented on 'My Mac (Designed for iPad)' Target"
Under these conditions:
* **iOS Application** using browser-based authentication
* **My Mac (Designed for iPad)** target _or_ using a TestFlight build on Apple Silicon hardware

calling `OktaOidc.signInWithBrowser(from:callback)` does not show a browser authentication page.

The same build while running on an iOS device (iPhone, iPad, iPod touch) works as expected.

Is there any documentation, wor

[2021-11-09 22:03] monde commented on #319
Thanks @richardpiazza . @mikenachbaur-okta have you seen this before? Should I file a Jira on it?

[2021-11-09 22:24] monde commented on #319
Okta internal reference: [OKTA-445374](https://oktainc.atlassian.net/browse/OKTA-445374)

[2021-11-09 22:28] mikenachbaur-okta commented on #319
@richardpiazza I don't have access to an M1 Mac at the moment, but a colleague of mine is going to try reproducing this. I'll keep you posted.

[2021-11-10 17:52] mikenachbaur-okta commented on #319
Hi @richardpiazza, one of our engineers tried [our Browser sign-in sample project](https://github.com/okta/samples-ios/tree/master/browser-sign-in) on an M1 Mac with the "Designed for iPad" target, and she was able to get it running on an M1 Mac Mini just fine (the browser authentication page showed up and she was able to sign in).

There might be a configuration problem that could be affecting th

[2021-11-10 18:17] richardpiazza commented on #319
@mikenachbaur-okta I've tried the example project with the same configuration and URL Scheme that is being used within our iOS app. The following prompt shows when tapping the 'Sign In' button:
<img width="790" alt="AllowAuthPrompt" src="https://user-images.githubusercontent.com/1744463/141170191-7a82065a-2e96-4379-b6b7-f83c74059cbf.png">
After tapping 'Continue', nothing appears to happen either

[2021-11-10 19:32] mikenachbaur-okta commented on #319
Hmm interesting @richardpiazza, does this same sample app work when targeting an iPhone or iPad?

[2021-11-10 19:37] richardpiazza commented on #319
@mikenachbaur-okta Good question... Just tested, and yes, when running on the iOS simulator and on an iPhone the same code presents a browser for authentication.

[2021-11-10 19:40] mikenachbaur-okta commented on #319
If you wouldn't mind testing one more thing @richardpiazza, can you disable ephemeral sessions (which controls the usage of the `noSSO` configuration property) and try on your Mac again? I'm trying to determine which code path is exhibiting this problem.

[2021-11-10 19:45] richardpiazza commented on #319
Sure... None of my previous tests uses that 'Ephemeral Session' toggle - it was always off. What's interesting though is that toggling it to the 'on' state and tapping 'Sign In', didn't produce the same safari authentication prompt as before.

<img width="820" alt="Screen Shot 2021-11-10 at 1 43 16 PM" src="https://user-images.githubusercontent.com/1744463/141182436-fcebf4f0-cee6-462b-8495-619d087

[2021-11-10 19:51] phaseOne commented on #181
For other people that stumble across this issue, there's no need to fork the code as this has been integrated into the codebase with the [`noSSO` option in the OIDC configuration object](https://github.com/okta/okta-oidc-ios#disable-single-sign-on-for-the-authentication-session). Note: `noSSO` works only on iOS 13+ versions (due to `prefersEphemeralWebBrowserSession`), and the other downside is th

[2021-11-10 20:48] mikenachbaur-okta commented on #319
That prompt is shown to the user as a result of the ASWebAuthenticationSession requesting access to a user's shared browser cookies.

https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession/3237231-prefersephemeralwebbrowsersessio

With ephemeral sessions enabled, did the browser and sign-in screen work for you?

[2021-11-10 20:58] richardpiazza commented on #319
No... with ephemeral sessions enabled, nothing happened. The prompt above never showed, and nothing happened within the app nor system browser.

[2021-11-10 21:12] mikenachbaur-okta commented on #319
Alright, thank you for your troubleshooting steps @richardpiazza. We've filed a ticket internally for this, and I'll begin looking into this issue as soon as I can.

[2021-11-14 15:41] richardpiazza commented on #319
This may have been an issue with Safari itself... I completely quit Safari this weekend, and upon restarting I was presented with multiple authentication windows. The authentication on my Mac machine appears to be working once again.

[2021-11-15 13:58] oleggnidets-okta commented on #319
I would lie to link another issue on M1 for visibility. #301
Thanks

[2021-11-15 17:18] mikenachbaur-okta commented on #319
Oh, interesting @richardpiazza. I came across [this post on the Apple developer forums](https://developer.apple.com/forums/thread/694465) that sounds similar to your issue. So perhaps this is a bug in macOS.

[2021-11-22 18:35] ewalkerbnr opened #320 "App is logged out after period of inactivity / overnight on iOS 15"
Hi we have users reporting logouts on our app after upgrading to iOS 15. After periods of inactivity or overnight they are presented with the login screen. It looks like sometimes there are issues loading the StateManager from the keychain. looking through the device logs we see:

![Screen Shot 2021-11-18 at 1 53 39 PM](https://user-images.githubusercontent.com/76027331/142916374-f47813cf-dda8-45a

[2021-11-22 19:36] mikenachbaur-okta commented on #320
I'll take a look; @oleggnidets-okta can you also take a look at this when you have a chance?  These timeout / overnight bugs can be difficult to track down / debug, so having an extra pair of eyes on the problem can help.

[2021-11-23 13:01] oleggnidets-okta commented on #320
This is strange behavior. So first what comes to my mind it may relate to system issue.
I see the threads on Apple Developer Forum [#685685](https://developer.apple.com/forums/thread/685685), [#691353](https://developer.apple.com/forums/thread/691353).

[2021-11-23 15:40] ewalkerbnr commented on #320
Thanks for looking into this.

[2021-11-29 17:35] mikenachbaur-okta commented on #319
@richardpiazza Since this seems to be a platform bug, I'm going to close this ticket out. But if you find additional reproduction steps, or you encounter this again, please feel free to reopen it.

Thank you

[2021-11-29 17:35] #319 closed

[2021-11-30 22:58] ewalkerbnr commented on #320
For this code in OktaOidcKeychain:
var q = [
            kSecClass as String: kSecClassGenericPassword as String,
            kSecValueData as String: data,
            kSecAttrAccount as String: key,
            kSecAttrAccessible as String: accessibility ?? kSecAttrAccessibleWhenUnlockedThisDeviceOnly
        ] as [String: Any]

Wondering what the result qwould be if we were to use kSecAttrAcces

[2021-11-30 23:03] mikenachbaur-okta commented on #320
@ewalkerbnr I'm curious, does your app utilize push notifications, custom push notification app extensions, or background app updates?

If your app is being launched in the background while the device is locked, and you aren't specifying a custom `accessibility` attribute when initializing your `OktaOidcStateManager` instance, this could be a cause for this issue.

[2021-11-30 23:05] ewalkerbnr commented on #320
Our app does utilize push notifications and has a watch kit companion app.

[2021-11-30 23:11] mikenachbaur-okta commented on #320
Keychain access accessibility is a contentious topic, from a security perspective. From a security-first posture, the "WhenUnlocked" is the most secure, which is a sensible default when there are unknowns about the environment an app is running within.

Given that your app response to push notifications, it might make sense to define a custom `AfterFirstUnlock` accessibility setting so it can prop

[2021-11-30 23:15] ewalkerbnr commented on #320
I'm going to try it out and do some testing. I'll update with my findings. thx

[2021-11-30 23:20] ewalkerbnr commented on #320
I don't see an easy way to specify the custom value.  it's defaulting to kSecAttrAccessibleWhenUnlockedThisDeviceOnly

`    func signInWithBrowserTask(_ task: OktaOidcBrowserTask,
                               callback: @escaping ((OktaOidcStateManager?, Error?) -> Void)) {
        currentUserSessionTask = task

        task.signIn(delegate: configuration.requestCustomizationDelegate) { [weak sel

[2021-12-01 15:48] ewalkerbnr commented on #320
@mikenachbaur-okta Hi would we be able to get the kSecAttrAccessible attribute default changed to kSecAttrAccessibleAfterFirstUnlockThisDeviceOnly instead of kSecAttrAccessibleWhenUnlockedThisDeviceOnly? Or can I open a PR so we could test the change?

[2021-12-01 18:21] mikenachbaur-okta commented on #320
@ewalkerbnr  The [`OktaOidcStateManager.accessibility` property ](https://github.com/okta/okta-oidc-ios/blob/master/Sources/OktaOidc/Common/OktaOidcStateManager.swift#L24), as well as [the constructor](https://github.com/okta/okta-oidc-ios/blob/master/Sources/OktaOidc/Common/OktaOidcStateManager.swift#L66) permits the assignment of a custom accessibility flag. The default is `kSecAttrAccessibleWhe

[2021-12-01 19:18] ewalkerbnr commented on #320
The signInWithBrowserTask function is in the Okta OIDC framework. is there another place where I can hook in?

[2021-12-02 03:03] bdrelling commented on #301
@oleggnidets-okta can you consider re-opening this issue? I wanted to make a new issue but saw this already existed.

Can you please give me some visibility into the status of `OKTA-414819`? This feels like a critical priority IMO, so many teams (including my own) are switching entirely to M1s and this will result in a massive, massive blocker to our productivity overall.

I'm happy to assist, ple

[2021-12-02 03:20] bdrelling commented on #301
@oleggnidets-okta can you consider re-opening this issue? I wanted to make a new issue but saw this one already existed. I believe my error is related:

Can you please give me some visibility into the status of `OKTA-414819`? This feels like a critical priority IMO, so many teams (including my own) are switching entirely to M1s and this will result in a massive, massive blocker to our productivity

[2021-12-02 10:42] oleggnidets-okta commented on #301
Hi @bdrelling,

Sorry to hear you meet the issue on M1.

The issue was fixed based on [comment above](https://github.com/okta/okta-oidc-ios/issues/301#issuecomment-885261950). Unfortunately, I don't have possibility to check on M1, neither my colleague @mikenachbaur-okta.

So we appropriate any input here.

[2021-12-03 15:31] levieggertcru opened #324 "UIAlertController Sign-out messaging says Sign-In"
In OktaOidc Version 3.10.8 I'm calling the signOutOfOkta method with arguments OktaOidcStateManager and UIViewController which then presents an UIAlertController asking the user to confirm sign out.  This UIAlertController is being configured and presented from within the OktaOidc SDK.  The issue I am seeing is the alert title is stating Okta wants to Sign In when in reality the user is Signing Ou

[2021-12-03 15:55] oleggnidets-okta commented on #324
Hi @levieggertcru

Thanks for your input.

The alert is presented by Apple and there's no way to configure text shown 😞 The solution may be only setting `noSSO` as `true`. But keep in mind it will disable shared sessions.
We keep an eye on possibility to fix the UX.

Here we have [description of the issue](https://github.com/okta/okta-oidc-ios#ios-shows-permission-dialogapp-wants-to-use-auth-domai

[2021-12-03 16:31] levieggertcru commented on #324
Hey @oleggnidets-okta thank you for the quick response and additional information regarding this issue.  I did notice that ASWebAuthenticationSession is available in iOS 12 and up.  I'm curious what is being used for iOS 11 to sign out and terminate the session?  Is that noted in your documentation?

Thank you.

<img width="1012" alt="ASWebAuthenticationSession-iOS12+" src="https://user-images.git

[2021-12-03 17:05] mikenachbaur-okta commented on #324
When the SDK is used on a device running an OS earlier than 12.0, it switches to use either SFAuthenticationSession on iOS 11, or SFSafariViewController on iOS 9-10

[2021-12-03 17:20] levieggertcru commented on #324
Thanks @mikenachbaur-okta.

[2021-12-03 17:20] #324 closed

[2021-12-06 17:27] oleggnidets-okta commented on #320
Hi @ewalkerbnr

When you authenticate a user with `signInWithBrowser` you get `OktaOidcStateManager` instance.
You can set `accessibility` property and then save it to storage. Consider this code:

[code]

[2021-12-06 23:58] bdrelling commented on #301
@oleggnidets-okta Great news! I spoke too soon. These libraries are a-ok on an M1.

Feel free to reach out if you'd like help testing anything else on M1. Given that your libraries support our app, I'm happy to help support your libraries however I can. 👍

Thanks for re-opening this issue in the meantime! I think it can be closed. Anyone else finding this will see my findings.

[2021-12-14 06:51] shivayogic opened #325 "Keychain is cleared on upgrade from 3.8.0 to 3.10.8 / 3.11.0"
We are using oktaoidc in iOS app. Presently we have upgraded oktaOIDC from 3.8.0 to 3.10.8 / 3.11.0.
In this process last logged in user value stored in keychain is cleared. In earlier cases it never cleared on upgrade.
Let me know is there any solution not clear the keychain value.

Thank you,
Shivayogi

[2021-12-14 10:12] oleggnidets-okta commented on #325
Hey @shivayogic

Sorry to hear about the issue.

I took a look at `git` history but didn't find any suspicious changes to related logic.

How do you think may it be related to #320? It would be great if you provide some technical details (logs, crash logs, steps to reproduce etc.).

[2021-12-14 13:08] shivayogic commented on #325
Hey, In my opinion #320 is not the scenario. Below are the steps:
1. In the previous version of App we are using OktaOIDC 3.8.0
2. When we log into the app user is authenticated and stored in keychain of okta
3. Now I will update the OktaOIDC pod  to 3.10.8 or even 3.11.0 in my app and upgrade it one the App which was built in step 1
4. Launch the app. When I tried to get the key from keychain whi

[2021-12-14 15:46] freak4pc commented on #194
This still seems to be an issue? 🤔

[2021-12-14 16:11] oleggnidets-okta commented on #325
This behavior is not supposed to be.

So I created internal issue, ref. OKTA-454163. Let you know about the results.
For now, if it's possible downgrade to 3.8.0. Thanks

[2021-12-14 17:23] shivayogic commented on #325
Thank you for looking into the issue.

[2021-12-20 16:54] oleggnidets-okta commented on #301
@bdrelling Thanks for your contribution! Feel free to reach us out.

[2021-12-20 16:54] #301 closed

[2021-12-21 13:48] oleggnidets-okta commented on #325
Hey @shivayogic
I tried to reproduce the issue on our sample in different ways but I have no problem. Switching to from `3.8.0` to `3.11.0` works, I get the same access token from Keychain.
I investigate our code and seems [`OktaOidcKeychain`](https://github.com/okta/okta-oidc-ios/blob/3772438422cfc61b8e15a5bcf10ac6d4f53843aa/Sources/OktaOidc/Common/OktaOidcKeychain.swift) has not been changed for

[2022-01-03 21:38] levieggertcru opened #328 "400 bad request. invalid_token."
Hey I was wondering if you could help shed some light on this issue.  We recently updated our app to use Okta authentication and we are getting a number of our users reporting the same error during authentication.  They're presented with the browser and see 400 bad request.  The id token is invalid message.  This appears to effect only certain users as our internal testers haven't experienced this

[2022-01-10 15:21] levieggertcru commented on #328
I'm going to close this issue as we were able to solve it with our customers.  There were a couple things we did.
1. We added some extra logic to clear any persisted auth sessions on a new app install.
2. We made some changes to how we initialize our app and fetch data from the Keychain / UserDefaults.  See iOS 15 bug that has been reported here https://developer.apple.com/forums/thread/691353.

[2022-01-10 15:21] #328 closed

[2022-01-10 17:13] oleggnidets-okta commented on #325
@shivayogic I hope it works for you.
I close the issue for now as no response provided. Please, feel free to drop any updates here or re-open the issue.

[2022-01-10 17:13] #325 closed

[2022-01-11 11:05] oleggnidets-okta commented on #328
Glad to hear you were able to fix the issue!
Thanks for feedback.

Related Keychain issue (for visibility): #325 #320

[2022-01-11 11:06] oleggnidets-okta commented on #320
As no response provided I believe the issue can be closed.
@ewalkerbnr Feel free to re-open if needed.

Thank you for using Okta!

[2022-01-11 11:06] #320 closed

[2022-01-11 18:02] benconstantine39 opened #330 "Browser-based sign in"
After signing in via browser, the user can briefly see a system prompt (ie action sheet) to save the login to keychain but then it is dismissed due to the redirect that takes the user back to the app. Is there a way to wait for the user to finish interacting with that action sheet? Either way it looks odd to the user, not sure it there's a configuration option I missed or what

[2022-01-11 20:11] mikenachbaur-okta commented on #330
This unfortunately is a limitation of Apple's SDKs that many people in the industry are fighting with. There are a few issues online (such as [this one at StackOverflow](https://stackoverflow.com/a/65156341) and [this one at Apple's developer forums](https://developer.apple.com/forums/thread/127979)) that shows this is a common complaint.

This issue is a duplicate of #271 with some similar guidan

[2022-01-13 21:06] emanor-okta opened #331 "Modify readFromSecureStorage() and writeToSecureStorage() calls to throw errors"
Currently if `OktaOidcStateManager.swift` encounters an error during `readFromSecureStorage()` or `writeToSecureStorage()` calls, that error is not thrown.

In the case of `readFromSecureStorage()` which returns an optional, nil is returned if there is an error. For key_not_found returning nil is fine, but if an encoding error, or no data is found for a key, it would be beneficial for the applicat

[2022-01-14 10:30] oleggnidets-okta commented on #331
Hey @emanor-okta
Totally agree, error handling should be improved here.
Internal ref. OKTA-460840

[2022-01-24 21:24] dextertalbert opened #333 ""Cookies are required" displayed after enabling cookies in safari settings."
When a user has disabled the cookies in the iPhone/Safari settings, and has tried unsuccessfully to login to the app and then enables cookies again, the Okta Webview keeps displaying the “Cookies are required“ message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings->Safari and _toggle on_ **Block All Cookies**
2. Attempt sign in authentication flow
3. You should now receive t

[2022-01-25 00:53] aarongranick-okta commented on #333
@dextertalbert Thank you for bringing this issue to our attention. I have created an internal issue OKTA-463498. Our engineers will investigate and follow up.

[2022-01-25 17:34] mikenachbaur-okta commented on #333
@dextertalbert I wasn't able to reproduce this problem on my end using the Okta Sign In Widget and the latest OIDC SDK version.  The Okta sign in widget itself doesn't appear to require cookies to function, so this might be some sort of conflict with the frontend side of your sign in process.

When configuring the OIDC client, are you using the `noSSO` flag?

To me, this seems like an iOS bug more

[2022-01-27 20:00] dextertalbert commented on #333
We are not using the `noSSO` flag. Oddly I have been unable to reproduce this issue today.

[2022-01-28 19:54] mikenachbaur-okta commented on #333
That's interesting @dextertalbert. So it does indeed sound to me like this is an iOS bug. If you don't mind, I'll close this ticket, but if you encounter this again, or if you figure out reproduction steps, please don't hesitate to reopen it.

[2022-01-28 19:54] #333 closed

[2022-03-01 13:19] khan-rehan opened #338 "iOS OKTA browser-sign-in login page is not getting localised."
### Describe the bug?

Hi Okta team,
OKTA browser-sign-in page doesn't get localized with the default locale of the device.
What needs to be added to localize OKTA browser-sign-in page.

Please refer the below trail for reference:
https://github.com/okta/okta-oidc-ios/issues/312

Video Link:
https://user-images.githubusercontent.com/42263217/156175729-f39335fe-2f46-4536-90a5-0f22d179c4e0.mp4

###

[2022-03-02 14:49] idktanwar opened #339 "Unable to see Okta Login screen after Error "access_denied: User is not assigned to the client application.""
### Describe the bug?

Using Okta iOS SDK with swift

When the first time the user tried to log in with **signInWithBrowser** in iOS, it gets the login screen for username and password then on click on login button encounters the error _"access_denied: User is not assigned to the client application."_

After that when we tried to re-enter the credentials, unable to see the login screen for usernam

[2022-03-28 22:48] mikenachbaur-okta commented on #339
This sounds like it might be related to a policy configuration for the client, since it's not automatically adding the user to the client application.

As far as the recurring error is concerned, after attempting to re-authenticate at a later date, this is likely the result of the session being cached within shared cookie storage within `ASWebAuthenticationSession`.  There are two possible solutio

[2022-03-28 22:52] mikenachbaur-okta commented on #338
This is interesting, since the Okta Sign-in Widget should automatically support localization in many different languages, including German.  Looking at the linked ticket, and that the problem wasn't reproducible by @oleggnidets-okta, this might be a configuration issue within your application. Is there a possibility that the app itself isn't localized in the desired language, which might be preven

[2022-04-10 09:45] khan-rehan commented on #338
This issue is resolved.

[2022-04-10 09:45] #338 closed

[2022-05-06 07:25] johnkxiong commented on #194
This still seems to be an issue!!!

[2022-05-10 13:10] thukaram915213 opened #340 "Unable to login"
### Describe the bug?

Login with X credentials and logout. Trying to login with Y credentials, unable to login into okta.

This is the error response as the result of calling the authenticate method.
APIError : "Authorization Error: Unexpected response format while retrieving authorization code. Status code:200"

Here’s how I get the session token:

OktaAuthSdk.authenticate(with:{okta domain}, us

[2022-05-10 16:28] mikenachbaur-okta commented on #340
Thank you for reporting this @thukaram915213, I tried this in the [custom sign in sample app](https://github.com/okta/samples-ios/tree/master/custom-sign-in), and using your logout call (with the list of options you specified) I was unable to reproduce your problem.

Is there a possibility you can set a breakpoint to determine where and when this error is being generated, and perhaps to see what t

[2022-05-10 18:26] arctouch-danielishara opened #341 "Sign out should clear session cookies"
### Describe the bug?

We are implementing a custom login experience for the user using this lib paired with the Okta Swift Authentication SDK
 ([okta-auth-swift](https://github.com/okta/okta-auth-swift)) for a full in-app experience.
The problem is that when signing a user out of the app the session cookies are kept.
This cookies then prevent the user to use methods that are expected to be used b

[2022-05-10 19:17] mikenachbaur-okta commented on #341
Hi @arctouch-danielishara, the `okta-oidc-ios` library primarily addresses OIDC web-based sign in and token management, so when you call `sighOutFromOkta` that is making the assumption that the user was logged in through a web-based flow.  This opens the browser to the logoutRedirectUri to clear out the browser cookie.

Since you're implementing native authentication, there's no browser cookie to

[2022-05-11 14:11] arctouch-danielishara commented on #341
Thank you for the reply!

The `signOut(with:authStateManager:from:progressHandler:completionHandler:)` is the method that I am using.

And about this:

I intercepted calls made to `OktaAuthService.recoverPassword` and these are the cookies that are being send with the request after the user logs in:

![Screen Shot 2022-05-11 at 10 36 48](https://user-images.githubusercontent.com/86305493/167867047

[2022-05-11 20:19] derekpitts28 opened #342 "OktaOidcKeychain.clearAll() clears entire keychain instead of just okta related keys"
### Describe the bug?

Describe the bug
When OktaOidcKeychain.clearAll() is called, it also deletes any items the app may have stored in the keychain.

### What is expected to happen?

Expected behavior
OktaOidcKeychain.clearAll() should only clear Oidc related items from the keychain.

### What is the actual behavior?

Expected behavior
OktaOidcKeychain.clearAll() clears all keychain for app.

##

[2022-05-12 00:44] aarongranick-okta commented on #342
@derekpitts28 Thank you for bringing this to our attention! I will pass this along to our mobile engineers for further investigation.

[2022-05-12 00:50] mikenachbaur-okta commented on #342
Thank you @derekpitts28, this API is working as expected.  The `OktaOidcKeychain` is a simple wrapper around the iOS keychain, and doesn't restrict itself to Okta-related items.

I suggest you try the `OktaOidcStateManager.removeFromSecureStorage()` method to remove the Okta-related keychain item.

[2022-05-23 20:33] rohit3d2003 opened #343 "KeyChain App Group Not Supported"
### Describe the bug?

We have multiple iOS applications that share the authentication response (access token, ID token etc.) but it seems the current implementation of OktaOidcKeyChain does support use of access groups but it hasn't been levered or exposed as such in 'OktaOidcStateManager' class. Looking for suggestions on this:

**OktaOidcKeyChain.swift**
<img width="896" alt="Screen Shot 2022-0

[2022-05-31 17:00] mikenachbaur-okta commented on #341
That's interesting @arctouch-danielishara. Can you try creating an ephemeral URLSession when initializing your client, and use that when performing your requests? That will ensure cookies and other data isn't saved, and we can see if that affects this.  Alternatively, you can try to clear cookies before calling `recoverPassword` to see if that works around the problem.

This can help us narrow dow

[2022-06-08 23:06] mikenachbaur-okta commented on #343
Thank you for your report @rohit3d2003. We have been developing a replacement for OktaOidc in order to address many feature requests such as this one.

Please check out https://github.com/okta/okta-mobile-swift since it represents a much improved developer experience, and supports more features of the Okta platform than OktaOidc currently does. Please check out the `Credential.Security` enum, whic

[2022-06-13 14:21] rakibul-islam-yankees opened #344 "@available not allowed for stored properties in Xcode 14"
### Describe the bug?

In Xcode 14, a stored property cannot be marked with an @available tag. This causes the okda-oidc-ios library to fail at compile time. In OktaOidcConfig.swift, the property noSSO is marked with `@available(iOS 13.0, *)`

### What is expected to happen?

Library should compile successfully.

### What is the actual behavior?

Library throws a compile-time error.

### Reproduct

[2022-06-14 17:03] #344 closed

[2022-06-14 17:15] mikenachbaur-okta commented on #344
@rakibul-islam-yankees OktaOidc 3.11.2 has just been released with a fix to this issue. Please let us know if there's anything else you discover in trying Xcode 14.

[2022-06-14 17:56] mikenachbaur-okta commented on #341
@arctouch-danielishara I checked with my colleagues on other SDK teams, and the general consensus is that the `JSESSIONID` cookie is the only one that needs to be deleted following a logout. Since this is manipulating system state that may be used for other purposes, it's recommended that you perform the deletion yourself within the completion handler.